<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container">
      <!-- Navbar Brand -->
      <a href="#" class="navbar-brand">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1571398888/Group_1514_tjekh3_zkts1c.svg" alt="logo" width="150">
      </a>
    </div>
  </nav>

</div>
<div class="body">

  <div class="container">

    <form [formGroup]="resetForm" (ngSubmit)="resetP()">
      <div class="row">
        <div class="input-group col-lg-6 mb-4">
          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
          </div>
          <input type="password" formControlName="password" placeholder="your password"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div>password invalid</div>
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least </div>
          </div>
        </div>

        <!-- Password Confirmation -->
        <div class="input-group col-lg-6 mb-4">
          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
          </div>
          <input id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirm password" class="form-control bg-white border-left-0 border-md">
        </div>

        <!-- Submit Button -->
        <div class="form-group col-lg-12 mx-auto mb-0">
          <button  class="text-primary ml-2" (click)="resetP()">Send</button>
        </div>

      </div>
    </form>
  </div>

</div>
