<body>
<!--page start-->
<div class="page">
  <!-- page-title -->
  <div class="ttm-page-title-row">
    <div class="ttm-page-title-row-inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="page-title-heading">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- page-title end-->
  <!--site-main start-->
  <div class="site-main">
    <section class="ttm-row overview-section clearfix">
      <div class="ttm-team-member-single-content-wrapper ttm-team-member-view-default">
        <div class="container">
          <div *ngFor="let m of listPatient">
          <div class="ttm-team-member-single-content row"*ngFor="let g of m.patient">
            <div class="col-lg-5 col-md-5">
              <!-- featured-team-item -->
              <div class="featured-item featured-team-item ttm-item-view-leftimage">
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="http://localhost:3500/getfile/{{g.image}}" alt="image">
                </div>
                <div class="featured-team-data">
                  <h5>Call Us:{{g.phone}}</h5>
                </div>
              </div><!-- featured-team-item end-->
            </div>
             <div class="ttm-team-member-single-content-area col-xs-12 col-sm-12 col-md-7 col-lg-7">
              <div class="ttm-team-member-content shadow-box">

                <div class="ttm-team-member-single-list"  >
                  <h2 class="ttm-team-member-single-title">Personal Information</h2>
                  <div class="ttm-team-details-wrapper">
                    <ul class="ttm-team-details-list mb-20 clearfix">
                      <li>
                        <div class="ttm-team-list-value"> {{g.nom}} {{g.prenom}}</div>
                      </li>
                      <li>
                        <div class="ttm-team-list-value">{{g.email}}</div>
                      </li>
                      <li>
                        <div class="ttm-team-list-value">{{g.phone}}</div>
                      </li>
                      <li>
                        <div class="ttm-team-list-value">{{g.adress}}</div>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
    </section>

    <section class="ttm-row expertise-section ttm-bgcolor-grey bg-img5 ttm-bg ttm-bgimage-yes clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
    </section>




  </div><!--site-main end-->




  <!--back-to-top start-->
  <!--back-to-top end-->

</div><!-- page end -->
</body>
