<body>
<!--page start-->
<div class="page">




  <section class="error-404 bg-img3">
    <div class="container">
      <div class="ttm-big-icon ttm-textcolor-skincolor">
        <i class="fa fa-thumbs-o-down"></i>
      </div>
      <header class="page-header"><h1 class="page-title">404 ERROR</h1></header>
      <div class="page-content"> <p>This page may have been moved or deleted. Be sure to check your spelling.</p></div>
      <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-dark mb-15" href="index.html">Back To Home</a>
    </div>
  </section>




  <!--back-to-top start-->
  <a id="totop" href="#top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!--back-to-top end-->

</div><!-- page end -->
</body>
