<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
    <div class="row d-flex">
      <div class="col-lg-6">
        <div class="card1 pb-5">

          <div > <img src="assets/images/services/services-05.jpg" class="image"> </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card2 card border-0 px-4 py-5">
          <div class="row mb-4 px-3">
            <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
            <div class="facebook text-center mr-3">
              <button class="login-Btn" (click)="signInWithGoogle()" >Google</button>
            </div>
           <!-- <div>-->
            <!-- <h4>{{ user.name }}</h4>-->
            <!-- <p>{{ user.email }}</p>-->
            <!--</div>-->
           <div class="twitter text-center mr-3">
             <div class="fa fa-twitter"></div>
           </div>
           <div class="linkedin text-center mr-3">
             <div class="fa fa-linkedin"></div>
           </div>
         </div>
     <div class="col-lg-6">
       <div class="card2 card border-0 px-4 py-5">

         <form [formGroup]="loginForm" (ngSubmit)="login()">
           <div class="form-group">
             <label class="mb-1">
               <h6 class="mb-0 text-sm">Email Address</h6>
             </label>
             <input type="email" formControlName="email" placeholder="Enter your address" class="form-control"
                    [ngClass]="{ 'is-invalid': submittedL && f.email.errors }"/>
             <div *ngIf="submittedL && f.email.errors" class="invalid-feedback">
               <div>email invalid</div>
               <div *ngIf="f.email.errors.required">Email is required</div>
               <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
             </div>
           </div>
           <div class="form-group">
             <label class="mb-1">
               <h6 class="mb-0 text-sm">Password</h6>
             </label>
             <input type="password" formControlName="password" placeholder="Enter your passwordS" class="form-control"
                    [ngClass]="{ 'is-invalid': submittedL && f.password.errors }"/>
             <div *ngIf="submittedL && f.password.errors" class="invalid-feedback">
               <div>password invalid</div>
               <div *ngIf="f.password.errors.required">Password is required</div>
               <div *ngIf="f.password.errors.minlength">Password must be at least </div>
             </div>
           </div>
         </form>
         <div class="row px-3 mb-4">
           <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input">
             <label for="chk1" class="custom-control-label text-sm">Remember me</label>
           </div> <button (click)="openModal(template1)" class="btn btn slide">Forgot Password?</button>
         </div>
         <div class="row mb-3 px-3">
                    <button (click)="login()" type="submit" class="btn btn slide ">Login</button>
                    <button (click)="refT()" type="submit" class="btn btn slide ">RefToken</button>
         </div>
         <div class="row mb-4 px-3"> <small >Don't have an account? <button class="btn btn slide" (click)="openModal(template)" >Register</button></small> </div>
       </div>
     </div>
   </div>

 </div>
</div>
 </div>
   <ng-template #template>
     <div class="modal-content">
       <div class="modal-header">
         <nav class="navbar navbar-expand-lg navbar-light py-3">
           <div class="container">
             <!-- Navbar Brand -->
              <a href="#" class="navbar-brand">
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1571398888/Group_1514_tjekh3_zkts1c.svg" alt="logo" width="150">
              </a>
            </div>
          </nav>
        </div>
        <div class="modal-body">
          <div class="container">

                <form [formGroup]="userForm" (ngSubmit)="register()">
                  <div class="row">

                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                      </div>
                      <input type="text" formControlName="nom" placeholder="your first name"class="form-control" [ngClass]="{ 'is-invalid': submitted && g.nom.errors }"/>
                      <div *ngIf="submitted && g.nom.errors" class="invalid-feedback">
                        <div *ngIf="g.nom.errors.required">First Name is required</div>
                      </div>
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                      </div>

                      <input type="text" formControlName="prenom" placeholder="your last name" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.prenom.errors }"/>
                      <div *ngIf="submitted && g.prenom.errors" class="invalid-feedback">
                        <div *ngIf="g.prenom.errors.required">Last Name is required</div>
                      </div>
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                      <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                      </div>
                      <input type="email" formControlName="email" placeholder="your address email" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.email.errors }"/>
                      <div *ngIf="submitted && g.email.errors" class="invalid-feedback">
                        <div>email invalid</div>
                        <div *ngIf="g.email.errors.required">Email is required</div>
                        <div *ngIf="g.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                      <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                      </div>
                      <select id="countryCode" name="countryCode" style="max-width: 80px"
                              class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                        <option value="">+126</option>

                      </select>
                      <input type="text" placeholder="your number phone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.phone.errors }"/>
                      <div *ngIf="submitted && g.phone.errors" class="invalid-feedback">
                        <div>phone invalid</div>
                        <div *ngIf="g.phone.errors.required">Phone is required</div>
                      </div>
                    </div>


                    <!-- Job -->
                    <div class="input-group col-lg-12 mb-4">
                      <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-male" aria-hidden="true"></i>
                              <i class="fa fa-female" aria-hidden="true"></i>
                            </span>
                      </div>
                      <select  name="genre" formControlName="genre" class="form-control custom-select bg-white border-left-0 border-md">
                        <option value=""></option>
                        <option value="woman">Woman</option>
                        <option value="Man">Man</option>
                      </select>
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                      </div>
                      <input type="password" formControlName="password" placeholder="your password"
                             class="form-control" [ngClass]="{ 'is-invalid': submitted && g.password.errors }"/>
                      <div *ngIf="submitted && g.password.errors" class="invalid-feedback">
                        <div>password invalid</div>
                        <div *ngIf="g.password.errors.required">Password is required</div>
                        <div *ngIf="g.password.errors.minlength">Password must be at least </div>
                      </div>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                      </div>
                      <input id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirm password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                      <button class="text-primary ml-2" (click)="register()">Create your account</button>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                      <div class="border-bottom w-100 ml-5"></div>
                      <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                      <div class="border-bottom w-100 mr-5"></div>
                    </div>



                    <!-- Already Registered -->
                    <div class="text-center w-100">
                      <p class="text-muted font-weight-bold">Already Registered? <a  class="text-primary ml-2">Login</a></p>
                    </div>    //modal.hide????

                  </div>
                </form>
              </div>
            </div>
          </div>
    </ng-template>

  <ng-template #template1>
    <div class="modal-content">
      <div class="modal-header">

      </div>
    <div class="modal-body">
      <div class="container">

        <form [formGroup]="emailForm" (ngSubmit)="forgetP()">
          <div class="row">
            <!-- Email Address -->
            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
              </div>
              <input type="email" formControlName="email" placeholder="your address email" class="form-control"
                     [ngClass]="{ 'is-invalid': submittedE && k.email.errors }"/>
              <div *ngIf="submittedE && k.email.errors" class="invalid-feedback">
                <div>email invalid</div>
                <div *ngIf="k.email.errors.required">Email is required</div>
                <div *ngIf="k.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group col-lg-12 mx-auto mb-0">
              <button  class="text-primary ml-2" (click)="forgetP()">Send</button>
            </div>

          </div>
        </form>
      </div>

    </div>

    </div>
  </ng-template>
</div>
