<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control"  name="email"  [(ngModel)]="contact.from" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Subject</label>
    <input type="text"   name="subject"  [(ngModel)]="contact.subject" class="form-control"  placeholder="your subject">
  </div>
  <ckeditor
    [(ngModel)]="contact.text"
    #myckeditor="ngModel"
    name="myckeditor"
    required
    [config]="ckeConfig"
    debounce="500"
    (paste)="onPaste()"
    (change)="onChange()">
  </ckeditor>
  <button class="btn btn-danger" (click)="contacter()"> Send </button>
</form>
