<div class ="header" id="masthead" class="header ttm-header-style-01">
  <!-- top_bar -->
  <div class="top_bar ttm-bgcolor-skincolor clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 d-flex flex-row align-items-center">
          <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-phone"></i></div>+123 456 7890</div>
          <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div><a href="mailto:yourdomain@gmail.com">yourdomain@gmail.com</a></div>
          <div class="top_bar_contact_item ml-auto"><div class="top_bar_icon"><i class="fa fa-clock-o"></i></div>Working Hours - Mon - Fri: 9:30 - 18:30</div>
          <div class="top_bar_contact_item">
            <div class="top_bar_social">
              <ul class="social-icons">
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Facebook" tabindex="-1"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Twitter" tabindex="-1"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Flickr" tabindex="-1"><i class="fa fa-flickr"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Linkedin" tabindex="-1"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- top_bar end-->
  <!-- site-header-menu -->
  <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
    <div class="site-header-menu-inner ttm-stickable-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <!--site-navigation -->
            <div class="site-navigation d-flex flex-row">
              <!-- site-branding -->
              <div class="site-branding mr-auto">
                <a class="home-link" href="index.html" title="Labostica" rel="home">
                  <img id="logo-img" class="img-center" src="assets/images/logo-img.png" alt="logo-img">
                </a>
              </div><!-- site-branding end -->
              <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                        <span class="menubar-box">
                                            <span class="menubar-inner"></span>
                                        </span>
              </div>
              <!-- menu -->
              <nav class="main-menu menu-mobile" id="menu">
                <ul class="menu">
                  <li class="mega-menu-item active">
                    <a href="#" class="mega-menu-link">Home</a>
                  </li>
                  <li class="mega-menu-item">
                    <a  class="mega-menu-link"routerLink="/medecinP/listPatient">Patient</a>
                  </li>
                  <li class="mega-menu-item">
                    <a class="mega-menu-link" >Contact</a>
                  </li>
                  <li class="mega-meni-item">
                    <a class="mega-menu-link" (click)="logout()">LogOut</a>
                  </li>
                </ul>
              </nav>
              <div class="header_extra d-flex flex-row align-items-center justify-content-end">


                <div class="header_search">
                  <a href="#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                  <div class="header_search_content">
                    <form id="searchbox" method="get" action="#">
                      <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                      <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- site-navigation end-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- site-header-menu end-->
</div><!--header end-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <router-outlet></router-outlet>


</div>
