<div class="row flex-lg-nowrap">
  <div id="mySidenav" class="navbar">
    <a href="#" id="about">About</a>
  </div>
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>

                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"></h4>
                    <p class="mb-0"></p>
                    <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                    <div class="mt-2">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">administrator</span>
                    <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <form [formGroup]="patientForm" (ngSubmit)="update()">
                              <div class="row">

                                <!-- First Name -->
                                <div class="input-group col-lg-6 mb-4">
                                  <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                                  </div>
                                  <input type="text" formControlName="nom" placeholder="your first name"class="form-control" [ngClass]="{ 'is-invalid': submitted && g.nom.errors }"/>
                                  <div *ngIf="submitted && g.nom.errors" class="invalid-feedback">
                                    <div *ngIf="g.nom.errors.required">First Name is required</div>
                                  </div>
                                </div>

                                <!-- Last Name -->
                                <div class="input-group col-lg-6 mb-4">
                                  <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                                  </div>

                                  <input type="text" formControlName="prenom" placeholder="your last name" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.prenom.errors }"/>
                                  <div *ngIf="submitted && g.prenom.errors" class="invalid-feedback">
                                    <div *ngIf="g.prenom.errors.required">Last Name is required</div>
                                  </div>
                                </div>

                                <!-- Email Address -->
                                <div class="input-group col-lg-12 mb-4">
                                  <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                                  </div>
                                  <input type="email" formControlName="email" placeholder="your address email" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.email.errors }"/>
                                  <div *ngIf="submitted && g.email.errors" class="invalid-feedback">
                                    <div>email invalid</div>
                                    <div *ngIf="g.email.errors.required">Email is required</div>
                                    <div *ngIf="g.email.errors.email">Email must be a valid email address</div>
                                  </div>
                                </div>

                                <!-- Phone Number -->
                                <div class="input-group col-lg-12 mb-4">
                                  <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                                  </div>
                                  <select id="countryCode" name="countryCode" style="max-width: 80px"
                                          class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                                    <option value="">+126</option>

                                  </select>
                                  <input type="text" placeholder="your number phone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.phone.errors }"/>
                                  <div *ngIf="submitted && g.phone.errors" class="invalid-feedback">
                                    <div>phone invalid</div>
                                    <div *ngIf="g.phone.errors.required">Phone is required</div>
                                  </div>
                                </div>


                                <!-- Job -->
                                <div class="input-group col-lg-12 mb-4">
                                  <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-male" aria-hidden="true"></i>
                              <i class="fa fa-female" aria-hidden="true"></i>
                            </span>
                                  </div>
                                  <select  name="genre" formControlName="genre" class="form-control custom-select bg-white border-left-0 border-md">
                                    <option value=""></option>
                                    <option value="woman">Woman</option>
                                    <option value="Man">Man</option>
                                  </select>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password"  placeholder="••••••" value="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••" value="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder="••••••" value="{{password}}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b>Keeping in Touch</b></div>
                        <div class="row">
                          <div class="col">
                            <label>Email Notifications</label>
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                <label class="custom-control-label" for="notifications-news">Newsletter</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit" (click)="update()">Save Changes</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="card grey lighten-3 chat-room">
        <div class="card-body">

          <!-- Grid row -->
          <div class="row px-lg-2 px-2">

            <!-- Grid column -->
            <div class="col-md-6 col-xl-4 px-0">

              <h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6>
              <div class="white z-depth-1 px-3 pt-3 pb-0">
                <ul class="list-unstyled friend-list">
                  <li class="active grey lighten-3 p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" height="50" width="50" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <strong>John Doe</strong>
                        <p class="last-message text-muted">Hello, Are you there?</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">Just now</p>
                        <span class="badge badge-danger float-right">1</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"height="50" width="50"  alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <strong>Danny Smith</strong>
                        <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">5 min ago</p>
                        <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                      </div>
                    </a>
                  </li>
                  <li class="p-2">
                    <a href="#" class="d-flex justify-content-between">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"height="50" width="50"  alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <strong>Alex Steward</strong>
                        <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="chat-footer">
                        <p class="text-smaller text-muted mb-0">Yesterday</p>
                        <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

              <div class="chat-message">

                <ul class="list-unstyled chat">
                  <li class="d-flex justify-content-between mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"height="50" width="50"  alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                    <div class="chat-body white p-3 ml-2 z-depth-1">
                      <div class="header">
                        <strong class="primary-font">Brad Pitt</strong>
                        <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                      </div>
                      <hr class="w-100">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                      </p>
                    </div>
                  </li>
                  <li class="d-flex justify-content-between mb-4">
                    <div class="chat-body white p-3 z-depth-1">
                      <div class="header">
                        <strong class="primary-font">Lara Croft</strong>
                        <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>
                      </div>
                      <hr class="w-100">
                      <p class="mb-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium.
                      </p>
                    </div>
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" height="50" width="50" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1">
                  </li>
                  <li class="white">
                    <div class="form-group basic-textarea">
                      <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
                    </div>
                  </li>
                  <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
                </ul>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </div>
    </div>
  </div>
</div>
