<header id="masthead" class="header ttm-header-style-01">
  <!-- top_bar -->
  <div class="top_bar ttm-bgcolor-skincolor clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 d-flex flex-row align-items-center">
          <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-phone"></i></div>+123 456 7890</div>
          <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div><a href="mailto:yourdomain@gmail.com">yourdomain@gmail.com</a></div>
          <div class="top_bar_contact_item ml-auto"><div class="top_bar_icon"><i class="fa fa-clock-o"></i></div>Working Hours - Mon - Fri: 9:30 - 18:30</div>
          <div class="top_bar_contact_item">
            <div class="top_bar_social">
              <ul class="social-icons">
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Facebook" tabindex="-1"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Twitter" tabindex="-1"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Flickr" tabindex="-1"><i class="fa fa-flickr"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Linkedin" tabindex="-1"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- top_bar end-->
  <!-- site-header-menu -->
  <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
    <div class="site-header-menu-inner ttm-stickable-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <!--site-navigation -->
            <div class="site-navigation d-flex flex-row">
              <!-- site-branding -->
              <div class="site-branding mr-auto">
                <a class="home-link" href="index.html" title="Labostica" rel="home">
                  <img id="logo-img" class="img-center" src="assets/images/logo-img.png" alt="logo-img">
                </a>
              </div><!-- site-branding end -->
              <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                        <span class="menubar-box">
                                            <span class="menubar-inner"></span>
                                        </span>
              </div>
              <!-- menu -->
              <nav class="main-menu menu-mobile" id="menu">
                <ul class="menu">
                  <li class="mega-menu-item active">
                    <a href="#" class="mega-menu-link">Home</a>
                    <ul class="mega-submenu">
                      <li class="active"><a href="index.html">Sample Homepage 1</a></li>
                      <li><a href="home-2.html">Sample Homepage 2</a></li>
                      <li><a href="home-3.html">Sample Homepage 3</a></li>
                      <li><a href="home-onepage.html">Home Onepage<span>New</span></a></li>
                      <li><a href="home-creative.html">Home Creative<span>New</span></a></li>
                      <li><a href="app-landing.html">App Landing<span>New</span></a></li>
                      <li class="mega-menu-item">
                        <a href="#" class="mega-menu-link">Header Styles</a>
                        <ul class="mega-submenu">
                          <li><a href="index.html">Header Style 01</a></li>
                          <li><a target="_blank" href="header-style-02.html">Header Style 02</a></li>
                          <li><a target="_blank" href="header-style-03.html">Header Style 03</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mega-menu-item megamenu-fw">
                    <a href="#" class="mega-menu-link">Pages</a>
                    <ul class="mega-submenu megamenu-content" role="menu">
                      <li>
                        <div class="row">
                          <div class="col-menu col-md-4">
                            <h6 class="title">Page List 01</h6>
                            <div class="content">
                              <ul class="menu-col">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="about-us-2.html">About Us 2</a></li>
                                <li><a href="services-1.html">Services 1</a></li>
                                <li><a href="services-2.html">Services 2</a></li>
                              </ul>
                            </div>
                          </div><!-- end col-3 -->
                          <div class="col-menu col-md-4">
                            <h6 class="title">Page List 02</h6>
                            <div class="content">
                              <ul class="menu-col">
                                <li><a href="team.html">Team</a></li>
                                <li><a href="team-details.html">Team Details</a></li>
                                <li><a href="contact-us-1.html">Contact Us 1</a></li>
                                <li><a href="contact-us-1.html">Contact Us 2</a></li>
                              </ul>
                            </div>
                          </div><!-- end col-3 -->
                          <div class="col-menu col-md-4">
                            <h6 class="title">Page List 03</h6>
                            <div class="content">
                              <ul class="menu-col">
                                <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="error.html">Error Page</a></li>
                                <li><a href="element.html">Element</a></li>
                              </ul>
                            </div>
                          </div>
                        </div><!-- end row -->
                      </li>
                    </ul>
                  </li>
                  <li class="mega-menu-item">
                    <a href="#" class="mega-menu-link">Services</a>
                    <ul class="mega-submenu">
                      <li><a href="advanced-robotics.html">Advanced Robotics</a>
                      <li><a href="anatomic-pathology.html">Anatomic Pathology</a></li>
                      <li><a href="chemical-research.html">Chemical Research</a></li>
                      <li><a href="chemistry-hematology.html">Chemistry & Hematology</a></li>
                      <li><a href="environmental-testing.html">Environmental Testing</a></li>
                      <li><a href="lab-test.html">Lab Test Directory</a></li>
                    </ul>
                  </li>
                  <li class="mega-menu-item">
                    <a href="#" class="mega-menu-link">Research</a>
                    <ul class="mega-submenu">
                      <li><a href="research-style-1.html">Research Style 1</a></li>
                      <li><a href="research-style-2.html">Research Style 2</a></li>
                      <li class="mega-menu-item">
                        <a href="#" class="mega-menu-link">Project Single</a>
                        <ul class="mega-submenu">
                          <li><a href="single-style-1.html">Style One</a></li>
                          <li><a href="single-style-2.html">Style Two</a></li>
                          <li><a href="single-style-3.html">Style Three</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mega-menu-item">
                    <a href="#" class="mega-menu-link">Blog</a>
                    <ul class="mega-submenu">
                      <li class=""><a href="blog.html">Blog Classic</a></li>
                      <li class=""><a href="blog-grid.html">Blog Grid</a></li>
                      <li class=""><a href="blog-single.html">Blog Single View</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                <div class="header_btn">
                  <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-icon-btn-left ttm-btn-color-grey" href="#"> <i class="fa fa-calendar"></i>Appointment</a>
                  <div id="appointment">
                    <h3>Keep in touch!</h3>
                    <form class="wrap-form appointment_form clearfix" method="post" action="#">
                      <div class="row">
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                                    <input name="name" type="text" value="" placeholder="Your Name" required="required">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                                    <input name="phone" type="tel" value="" placeholder="Phone Number" required="required">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <input name="email" type="email" value="" placeholder="Email">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group date">
                                                                <span class="text-input">
                                                                    <i class="fa fa-calendar"></i>
                                                                    <input type="text" value="" id="datetimepicker1">
                                                                </span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    <input name="Note" type="text" value="" placeholder="Note">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" type="submit">Book appointment</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="header_cart">
                  <a href="#" class="button-cart">
                    <div class="cart_icon"><i class="ti ti-shopping-cart"></i></div>
                    <div class="cart_count">10</div>
                  </a>
                </div>
                <div class="header_search">
                  <a href="#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                  <div class="header_search_content">
                    <form id="searchbox" method="get" action="#">
                      <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                      <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- site-navigation end-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- site-header-menu end-->
</header><!--header end-->
