
<app-header></app-header>
<router-outlet></router-outlet>
<body>
<!--page start-->
<div class="page">

  <!-- preloader start -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <!-- preloader end -->



  <div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
    <!-- START REVOLUTION SLIDER -->
    <div id="rev_slider_5_1" class="rev_slider fullwidthabanner" data-version="5.4.8">
      <ul>

        <!-- SLIDE  -->
        <li data-index="rs-6" data-transition="slotzoom-horizontal" data-slotamount="1" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

          <!-- MAIN IMAGE -->

          <img src="assets/images/slides/slider-mainbg-003.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-resizeme" id="slide-6-layer-1" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-126','-126','-86','-60']"

               data-fontsize="['60','60','60','38']"
               data-lineheight="['70','70','70','50']"
               data-fontweight="['700','700','700','700']"
               data-color="#031b4e"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
               data-start="700"

               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               data-type="text"
               data-responsive_offset="on" style="z-index:13;font-family:Poppins,sans-serif;">Providing <span class="ttm-textcolor-skincolor"> Excellence</span>
          </div>


          <!-- LAYER NR. 2 -->
          <div class="tp-caption tp-resizeme" id="slide-6-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-52','-52','-5','-10']"

               data-fontsize="['60','60','60','38']"
               data-lineheight="['70','70','70','50']"
               data-fontweight="['700','700','700','700']"
               data-color="#031b4e"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
               data-start="900"

               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               data-type="text"
               data-responsive_offset="on" style="z-index:13;font-family:Poppins,sans-serif;">In Laboratory Medicine
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption tp-resizeme" id="slide-6-layer-3" data-x="['left','left','left','left']" data-hoffset="['50','40','-550','-520']"
               data-y="['middle','middle','middle','middle']" data-voffset="['26','26','35','18']"

               data-fontsize="['19','19','19','16']"
               data-lineheight="['29','29','29','22']"
               data-fontweight="['400','400','400','400']"
               data-color="#5f6777"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
               data-start="1200"

               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               data-type="text"
               data-responsive_offset="on">Labostica is uatramodern laboratory services. Delivering newer <br>molecules from our sate of the art laboratories
          </div>

          <!-- LAYER NR. 4 -->
          <a class="tp-caption ttm-btn ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="#" target="_self" id="slide-6-layer-4" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['bottom','bottom','bottom','middle']" data-voffset="['179','179','127','57']"

             data-fontsize="['15','15','15','15']"
             data-lineheight="['20','20','15','15']"
             data-fontweight="['700','700','700','700']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-transform_idle="o:1;"
             data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
             data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
             data-mask_out="x:inherit;y:inherit;"
             data-start="1500"
             data-splitin="none"
             data-splitout="none"

             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[14,14,11,11]"
             data-paddingright="[35,35,28,28]"
             data-paddingbottom="[13,13,10,10]"
             data-paddingleft="[35,35,28,28]"
             data-type="button"
             data-responsive_offset="on" >View All Services
          </a>

          <!-- LAYER NR. 5 -->
          <a class="tp-caption tp-resizeme ttm-icon ttm-icon_element-border ttm-icon_element-color-darkgrey ttm-icon_element-style-rounded ttm_prettyphoto" href="https://youtu.be/e13TGGccvT4" target="_self" id="slide-6-layer-5" data-x="['left','left','left','left']" data-hoffset="['278','278','-550','-550']" data-y="['bottom','bottom','bottom','middle']" data-voffset="['183','183','98','86']"

             data-fontsize="['15','15','15','15']"
             data-lineheight="['46','46','38','38']"
             data-width="['46','46','38','38']"
             data-height="['46','46','38','38']"
             data-whitespace="nowrap"

             data-transform_idle="o:1;"
             data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
             data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
             data-start="1500"

             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]">

            <i class="fa fa-play pl-1"></i>
          </a>


          <!-- LAYER NR. 6 -->
          <a class="tp-caption tp-resizeme ttm_prettyphoto" href="https://youtu.be/e13TGGccvT4" target="_self" id="slide-6-layer-6" data-x="['left','left','left','left']" data-hoffset="['345','345','-550','-552']" data-y="['bottom','bottom','bottom','middle']" data-voffset="['199','199','112','99']"

             data-fontsize="['15','15','14','14']"
             data-lineheight="['14','14','14','14']"
             data-fontweight="['700','700','700','700']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-transform_idle="o:1;"
             data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
             data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
             data-start="1500"

             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]">How We Work
          </a>

        </li>

        <li data-index="rs-7" data-transition="slotzoom-horizontal" data-slotamount="1" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

          <!-- MAIN IMAGE -->

          <img src="assets/images/slides/slider-mainbg-004.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-resizeme" id="slide-7-layer-1" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-149','-149','-124','-88']"

               data-fontsize="['23','23','23','23']"
               data-lineheight="['30','30','30','30']"
               data-fontweight="['400','400','400','400']"
               data-color="#3368c6"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
               data-start="700"

               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               data-type="text"
               data-responsive_offset="on">Biological Sciences Retreat
          </div>


          <!-- LAYER NR. 3 -->
          <div class="tp-caption tp-resizeme" id="slide-7-layer-3" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-95','-95','-60','-42']"

               data-fontsize="['60','60','60','40']"
               data-lineheight="['70','70','70','40']"
               data-fontweight="['700','700','700','700']"
               data-color="#031b4e"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
               data-start="900"

               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               data-type="text"
               data-responsive_offset="on" style="z-index:13;font-family:Poppins,sans-serif;">Personal Care For Your
          </div>


          <!-- LAYER NR. 2 -->
          <div class="tp-caption tp-resizeme" id="slide-7-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-25','-25','20','7']"

               data-fontsize="['60','60','60','40']"
               data-lineheight="['70','70','70','40']"
               data-fontweight="['700','700','700','700']"
               data-color="#031b4e"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
               data-start="900"

               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               data-type="text"
               data-responsive_offset="on" style="z-index:13;font-family:Poppins,sans-serif;">Healthy <span class="ttm-textcolor-skincolor"> Living</span>
          </div>


          <!-- LAYER NR. 4 -->
          <div class="tp-caption tp-resizeme" id="slide-7-layer-4" data-x="['left','left','left','left']" data-hoffset="['50','40','-550','-520']"
               data-y="['middle','middle','middle','middle']" data-voffset="['50','50','55','8']"

               data-fontsize="['19','19','19','16']"
               data-lineheight="['30','30','30','22']"
               data-fontweight="['400','400','400','400']"
               data-color="#5f6777"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"

               data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
               data-start="1200"

               data-textAlign="['inherit','inherit','inherit','inherit']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               data-type="text"
               data-responsive_offset="on">Labostica is uatramodern laboratory services. Delivering newer <br>molecules from our sate of the art laboratories
          </div>

          <!-- LAYER NR. 5 -->
          <a class="tp-caption ttm-btn ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="#" target="_self" id="slide-7-layer-5" data-x="['left','left','left','left']"
             data-hoffset="['50','40','30','20']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['160','160','105','60']"

             data-fontsize="['15','15','15','14']"
             data-lineheight="['20','20','16','15']"
             data-fontweight="['700','700','700','700']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-transform_idle="o:1;"
             data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
             data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
             data-start="1500"
             data-splitin="none"
             data-splitout="none"

             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[14,14,11,11]"
             data-paddingright="[35,35,30,30]"
             data-paddingbottom="[13,13,10,10]"
             data-paddingleft="[35,35,30,30]"
             data-type="button"
             data-responsive_offset="on" >Visit Our Life Sciences
          </a>

        </li>

      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
  <!-- END REVOLUTION SLIDER -->


  <!--site-main start-->
  <div class="site-main">


    <!--features-section-->
    <section class="ttm-row features-section clearfix">
      <div class="container-fluid">
        <!-- row -->
        <div class="row align-items-center">
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                  <i class="ti ti-timer"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>24/7 Front-Desk</h5>
                </div>
                <div class="featured-desc">
                  <p>Our front help desk is always open online & offline, for all information and inquiries subjected.</p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="#">Get A Free Quote<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-imagebox end-->
          </div>
          <div class="col-md-4 border-left border-right">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                  <i class="ti ti-plug"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Our Installations</h5>
                </div>
                <div class="featured-desc">
                  <p>We are one of the best laboratories with high tech tools solutions & expertise mechanism.</p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="#">Get A Free Quote<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-imagebox end-->
          </div>
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                  <i class="ti ti-split-h"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Our Services</h5>
                </div>
                <div class="featured-desc">
                  <p>Our service area is wide. We are eagerly the best service providers to the laboratories nearby us</p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="#">Get A Free Quote<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-imagebox end-->
          </div>
        </div><!-- row end -->
      </div>
    </section>
    <!--features-section end-->


    <!--about-section-->
    <section class="ttm-row about-section bg-img11 ttm-bgcolor-grey clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-xs-12 ml-auto">
            <div class="ml_100 res-991-ml-0">
              <!-- section title -->
              <div class="section-title">
                <div class="title-header">
                  <h5>About Us</h5>
                  <h2 class="title">We Employ The Latest Research Technology &amp; Company</h2>
                </div>
                <div class="title-desc">Paramedical healthcare field attracts to save lives & helping people, being a doctor is not your only choice. We how else you can help patients without being a doctor, here we serving awesome opportunity.</div>
              </div><!-- section title end -->
              <div class="row">
                <div class="col-sm-6">
                  <!--featured-icon-box-->
                  <div class="featured-icon-box style1 icon-align-before-heading">
                    <div class="featured-icon">
                      <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                        <i class="flaticon-lab-1"></i>
                      </div>
                    </div>
                    <div class="featured-content">
                      <div class="featured-title">
                        <h5>Medical laboratory<br>Technician</h5>
                      </div>
                      <div class="featured-desc">
                        <p>Equipped &amp; trained to work in the hospitals, the diagnostic labs &amp; healthcares. <a href="#">Learn More</a></p>
                      </div>
                    </div>
                  </div><!-- featured-icon-box end-->
                </div>
                <div class="col-sm-6">
                  <!--featured-icon-box-->
                  <div class="featured-icon-box style1 icon-align-before-heading">
                    <div class="featured-icon">
                      <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                        <i class="flaticon-dna"></i>
                      </div>
                    </div>
                    <div class="featured-content">
                      <div class="featured-title">
                        <h5> NABL Certificate <br>Management</h5>
                      </div>
                      <div class="featured-desc">
                        <p>NABL&nbsp;is an autonomous society providing recognition of the Technical competence. <a href="#">Learn More</a></p>
                      </div>
                    </div>
                  </div><!-- featured-icon-box end-->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-skincolor mt-15" href="#">What We Do!</a>
                </div>
              </div>
            </div>
          </div><!-- row end -->
        </div>
      </div>
    </section>
    <!--about-section end-->


    <!--services-section-->
    <section class="ttm-row services-section-2 clearfix">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text">
              <div class="title-header">
                <h5>OUR SERVICES</h5>
                <h2 class="title">Explore Our Main Services</h2>
              </div>
              <div class="title-desc">Our excellent team is ready to be part of your team to work into the different areas of diagnoses. Scientists helping scientists.</div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
        <div class="row ttm-boxes-spacing-15px">
          <div class="col-lg-4 col-md-6 col-sm-6 ttm-box-col-wrapper">
            <!--featured-icon-box-->
            <div class="featured-icon-box icon-align-top-content style3">
              <div class="hover_icon"><i class="flaticon-research-8"></i></div>
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-round">
                  <i class="flaticon-research-8"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Pathologycam Testing</h5>
                </div>
                <div class="featured-desc">
                  <p>The medical specialty that determines the cause of diseases by examining body tissues</p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-dark btn-inline mt-15" href="#" tabindex="0">Read More!<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-icon-box end-->
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 ttm-box-col-wrapper">
            <!--featured-icon-box-->
            <div class="featured-icon-box icon-align-top-content style3">
              <div class="hover_icon"><i class="flaticon-flask-3"></i></div>
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-round">
                  <i class="flaticon-flask-3"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Environmental Testing</h5>
                </div>
                <div class="featured-desc">
                  <p>Environmental testing for water, soil, air, sludge, petroleum, chemicals, and other samples</p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-dark btn-inline mt-15" href="#" tabindex="0">Read More!<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-icon-box end-->
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 ttm-box-col-wrapper">
            <!--featured-icon-box-->
            <div class="featured-icon-box icon-align-top-content style3">
              <div class="hover_icon"><i class="flaticon-lab-5"></i></div>
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-round">
                  <i class="flaticon-lab-5"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Anatomical Pathology</h5>
                </div>
                <div class="featured-desc">
                  <p>Diagnosing disease through the examiner of tissue samples by using biomedical equipment </p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-dark btn-inline mt-15" href="#" tabindex="0">Read More!<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-icon-box end-->
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 ttm-box-col-wrapper">
            <!--featured-icon-box-->
            <div class="featured-icon-box icon-align-top-content style3">
              <div class="hover_icon"><i class="flaticon-microscope-2"></i></div>
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-round">
                  <i class="flaticon-microscope-2"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Drug Discovery</h5>
                </div>
                <div class="featured-desc">
                  <p>The service from discovery drives accelerated delivery of your preclinical candidate</p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-dark btn-inline mt-15" href="#" tabindex="0">Read More!<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-icon-box end-->
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 ttm-box-col-wrapper">
            <!--featured-icon-box-->
            <div class="featured-icon-box icon-align-top-content style3">
              <div class="hover_icon"><i class="flaticon-chemistry"></i></div>
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-round">
                  <i class="flaticon-chemistry"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Medicinal Chemistry</h5>
                </div>
                <div class="featured-desc">
                  <p>Solve problems in biology, pharmacology, and medicine, with the ultimate robust result.</p>
                </div>
                <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-dark btn-inline mt-15" href="#" tabindex="0">Read More!<i class="ti ti-angle-double-right"></i></a>
              </div>
            </div><!-- featured-icon-box end-->
          </div>
          <div class="col-md-4 col-sm-6 ttm-box-col-wrapper">
            <!--featured-icon-box-->
            <div class="featured-icon-box">
              <!-- ttm-box-view-overlay -->
              <div class="col-bg-img-nine ttm-col-bgimage-yes ttm-col-bgcolor-yes ttm-bgcolor-darkgrey ttm-bg pb-15 pl-30 pr-30 res-991-pl-15 res-991-pr-15">
                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                  <div class="ttm-col-wrapper-bg-layer-inner"></div>
                </div>
                <div class="layer-content">
                  <div class="featured-icon pt-30 pb-90 mb-50 res-991-pb-50 text-right">
                    <a class="ttm_prettyphoto" href="https://youtu.be/7e90gBu4pas" target="_self">
                      <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-sm">
                        <i class="ti ti-arrow-circle-right"></i>
                      </div>
                    </a>
                  </div>
                  <h5>Delivering the Answers Patients Expect</h5>
                </div>
              </div>
            </div><!-- ttm-box-view-overlay end -->
          </div>
        </div>
      </div>
    </section>
    <!--services-section-->

    <!--cta-section-->
    <section class="ttm-row cta-section ttm-bgcolor-skincolor bg-img8 ttm-bg ttm-bgimage-yes clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
      <div class="container"><!--container-->
        <div class="row"><!--row-->
          <div class="col-lg-8 m-auto">
            <div class="mt-15 row-title res-991-mt-0 text-center ttm-textcolor-white">
              <div class="ttm-play-icon-btn mb-35">
                <div class="ttm-play-icon-animation">
                  <a href="https://youtu.be/7e90gBu4pas" target="_self" class="ttm_prettyphoto">
                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                      <i class="fa fa-play"></i>
                    </div>
                  </a>
                </div>
              </div>
              <!-- section title -->
              <div class="section-title clearfix">
                <div class="title-header">
                  <h2 class="title">We Ensure Safe Diagnoses And Effective Therapies</h2>
                  <h5>We Employ The Latest Technology</h5>
                </div>
              </div><!-- section title end -->
              <div class="pt-20 pb-80 res-991-pb-0 res-991-pt-10">
                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-white" href="#">Get An Appointment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--cta-section-->


    <!--fid-section-->
    <div class="ttm-row fid-section mt_80 res-991-mt-0 z-index-1 clearfix">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white box-shadow">
              <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
              <div class="layer-content">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- ttm-fid -->
                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                      <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                        <i class="ti ti-cup"></i>
                      </div>
                      <div class="ttm-fid-contents">
                        <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation="animateDigits"
                                                            data-from="0"
                                                            data-to="143"
                                                            data-interval="15"
                                                            data-before=""
                                                            data-before-style="sup"
                                                            data-after=""
                                                            data-after-style="sub"
                                                            class="numinate">143
                                                    </span>
                          <sub>+</sub>
                        </h4>
                        <h3 class="ttm-fid-title">Awards Winning</h3>
                      </div>
                    </div><!-- ttm-fid end -->
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- ttm-fid -->
                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                      <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                        <i class="flaticon-healthcare-and-medical-1"></i>
                      </div>
                      <div class="ttm-fid-contents">
                        <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation="animateDigits"
                                                            data-from="0"
                                                            data-to="780"
                                                            data-interval="15"
                                                            data-before=""
                                                            data-before-style="sup"
                                                            data-after=""
                                                            data-after-style="sub"
                                                            class="numinate">780
                                                    </span>
                          <sub>+</sub>
                        </h4>
                        <h3 class="ttm-fid-title">Our Equipments</h3>
                      </div>
                    </div><!-- ttm-fid end -->
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- ttm-fid -->
                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                      <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                        <i class="flaticon-magnifier"></i>
                      </div>
                      <div class="ttm-fid-contents">
                        <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation="animateDigits"
                                                            data-from="0"
                                                            data-to="675"
                                                            data-interval="15"
                                                            data-before=""
                                                            data-before-style="sup"
                                                            data-after=""
                                                            data-after-style="sub"
                                                            class="numinate">675
                                                    </span>
                          <sub>+</sub>
                        </h4>
                        <h3 class="ttm-fid-title">Complete Cases</h3>
                      </div>
                    </div><!-- ttm-fid end -->
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- ttm-fid -->
                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                      <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                        <i class="flaticon-support"></i>
                      </div>
                      <div class="ttm-fid-contents">
                        <h4 class="ttm-fid-inner">
                                                    <span   data-appear-animation="animateDigits"
                                                            data-from="0"
                                                            data-to="457"
                                                            data-interval="15"
                                                            data-before=""
                                                            data-before-style="sup"
                                                            data-after=""
                                                            data-after-style="sub"
                                                            class="numinate">457
                                                    </span>
                          <sub>+</sub>
                        </h4>
                        <h3 class="ttm-fid-title">Industry Expertise</h3>
                      </div>
                    </div><!-- ttm-fid end -->
                  </div>
                </div><!-- row end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--fid-section end-->

    <!--procedure-section-->
    <section class="ttm-row procedure-section ttm-bgcolor-grey bg-img9 ttm-bg ttm-bgimage-yes z-index_1 mt_100 res-991-mt-0 clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text">
              <div class="title-header">
                <h5>Way We Work</h5>
                <h2 class="title">Our Working Process</h2>
              </div>
              <div class="title-desc">We are the team of experts and specialist for particular braches falls into research and diagnosis, ready to serve you at their best.</div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
        <div class="row"><!-- row -->
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-top-content text-center style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                  <i class="flaticon-lab-2"></i>
                  <span class="fea-number">01</span>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Data Collection</h5>
                </div>
                <div class="featured-desc">
                  <p>For the accurate diagnoses, perfect information is must require</p>
                </div>
              </div>
              <div class="arrow">
                <img src="assets/images/arrow-1.png" alt=""/>
              </div>
            </div><!-- featured-imagebox end-->
          </div>
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-top-content text-center style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                  <i class="flaticon-healthcare-and-medical-1"></i>
                  <span class="fea-number">02</span>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Diagnose Process</h5>
                </div>
                <div class="featured-desc">
                  <p>The collection goes to the particular department for the tests</p>
                </div>
              </div>
              <div class="arrow flip-arrow">
                <img src="assets/images/arrow-2.png" alt=""/>
              </div>
            </div><!-- featured-imagebox end-->
          </div>
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-top-content text-center style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                  <i class="flaticon-laboratory-3"></i>
                  <span class="fea-number">03</span>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Access To Reports</h5>
                </div>
                <div class="featured-desc">
                  <p>As a result, that arrive one can access their report online or direct  </p>
                </div>
              </div>
            </div><!-- featured-imagebox end-->
          </div>
        </div>
      </div>
    </section>
    <!--procedure-section end-->


    <!--broken-section-->
    <section class="ttm-row broken-section-3 bg-layer mt_80 res-991-mt-0 clearfix">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="col-bg-img-seven ttm-col-bgimage-yes ttm-bg ttm-col-bgcolor-yes ttm-left-span ttm-bgcolor-skincolor z-index-2 spacing-4">
              <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                <div class="ttm-col-wrapper-bg-layer-inner"></div>
              </div>
              <div class="layer-content">
                <div class="section-title">
                  <div class="title-header">
                    <h2 class="title">Best Laboratory Technician Awards Winner 2018 -19</h2>
                  </div>
                </div>
                <p>Awards are the sign of our diligence and hard work. It feels great to be part of such an honorable field. It motivates our team to give more & more.</p>
                <div class="sep_holder_box width-100 mt-35">
                  <span class="sep_holder"><span class="sep_line"></span></span>
                </div>
                <!-- slick_slider -->
                <div class="ml_35 slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":500,"settings":{"slidesToShow": 2}}, {"breakpoint":350,"settings":{"slidesToShow": 1}}]}'>
                  <div class="client-box">
                    <div class="ttm-client-logo-tooltip">
                      <div class="ttm-client-logo-tooltip-inner">
                        <div class="client-thumbnail">
                          <img src="assets/images/client/client-07.png" alt="image">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="client-box">
                    <div class="ttm-client-logo-tooltip">
                      <div class="ttm-client-logo-tooltip-inner">
                        <div class="client-thumbnail">
                          <img src="assets/images/client/client-08.png" alt="image">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="client-box">
                    <div class="ttm-client-logo-tooltip">
                      <div class="ttm-client-logo-tooltip-inner">
                        <div class="client-thumbnail">
                          <img src="assets/images/client/client-09.png" alt="image">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="client-box">
                    <div class="ttm-client-logo-tooltip">
                      <div class="ttm-client-logo-tooltip-inner">
                        <div class="client-thumbnail">
                          <img src="assets/images/client/client-10.png" alt="image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- ttm-client end -->
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="col-bg-img-eight ttm-col-bgimage-yes ttm-bg ttm-right-span mt-80 res-991-mt-0">
              <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                <div class="ttm-col-wrapper-bg-layer-inner"></div>
              </div>
              <div class="layer-content">
              </div>
              <img src="assets/images/bg-image/col-bgimage-8.jpg" class="ttm-equal-height-image" alt="bg-image">
            </div>
          </div>
        </div><!-- row end -->
      </div>
    </section>
    <!--broken-section end-->


    <!--team-section-->
    <section class="ttm-row team-section clearfix">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text">
              <div class="title-header">
                <h5>Team of Experts</h5>
                <h2 class="title">Led by Passionate Experts</h2>
              </div>
              <div class="title-desc">Our excellent team is ready to be part of your team to work into the different areas of diagnoses. Scientists helping scientists.</div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
        <div class="row slick_slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":991,"settings":{"slidesToShow": 3}}, {"breakpoint":678,"settings":{"slidesToShow": 2}}, {"breakpoint":460,"settings":{"slidesToShow": 1}}]}'>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox-team -->
            <div class="featured-imagebox featured-imagebox-team">
              <div class="ttm-team-box-view-overlay">
                <div class="featured-iconbox ttm-media-link">
                  <div class="media-block">
                    <a href="team-details.html" class="media-btn"><i class="ti ti-plus"></i></a>
                    <ul class="social-icons list-inline">
                      <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="assets/images/team-member/team-img01.jpg" alt="image">
                </div>
              </div>
              <div class="featured-content featured-content-team">
                <div class="featured-title">
                  <h5><a href="team-details.html">Duck Peter</a></h5>
                </div>
                <div class="team-position">CEO At Lab</div>
              </div>
            </div><!-- featured-imagebox-team end-->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox-team -->
            <div class="featured-imagebox featured-imagebox-team">
              <div class="ttm-team-box-view-overlay">
                <div class="featured-iconbox ttm-media-link">
                  <div class="media-block">
                    <a href="team-details.html" class="media-btn"><i class="ti ti-plus"></i></a>
                    <ul class="social-icons list-inline">
                      <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="assets/images/team-member/team-img02.jpg" alt="image">
                </div>
              </div>
              <div class="featured-content featured-content-team">
                <div class="featured-title">
                  <h5><a href="team-details.html">Lexa May Cruz</a></h5>
                </div>
                <div class="team-position">CEO At Lab</div>
              </div>
            </div><!-- featured-imagebox-team end-->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox-team -->
            <div class="featured-imagebox featured-imagebox-team">
              <div class="ttm-team-box-view-overlay">
                <div class="featured-iconbox ttm-media-link">
                  <div class="media-block">
                    <a href="team-details.html" class="media-btn"><i class="ti ti-plus"></i></a>
                    <ul class="social-icons list-inline">
                      <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="assets/images/team-member/team-img03.jpg" alt="image">
                </div>
              </div>
              <div class="featured-content featured-content-team">
                <div class="featured-title">
                  <h5><a href="team-details.html">Andrew Bon</a></h5>
                </div>
                <div class="team-position">CEO At Lab</div>
              </div>
            </div><!-- featured-imagebox-team end-->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox-team -->
            <div class="featured-imagebox featured-imagebox-team">
              <div class="ttm-team-box-view-overlay">
                <div class="featured-iconbox ttm-media-link">
                  <div class="media-block">
                    <a href="team-details.html" class="media-btn"><i class="ti ti-plus"></i></a>
                    <ul class="social-icons list-inline">
                      <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="assets/images/team-member/team-img04.jpg" alt="image">
                </div>
              </div>
              <div class="featured-content featured-content-team">
                <div class="featured-title">
                  <h5><a href="team-details.html">John Martin</a></h5>
                </div>
                <div class="team-position">CEO At Lab</div>
              </div>
            </div><!-- featured-imagebox-team end-->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox-team -->
            <div class="featured-imagebox featured-imagebox-team">
              <div class="ttm-team-box-view-overlay">
                <div class="featured-iconbox ttm-media-link">
                  <div class="media-block">
                    <a href="team-details.html" class="media-btn"><i class="ti ti-plus"></i></a>
                    <ul class="social-icons list-inline">
                      <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="assets/images/team-member/team-img05.jpg" alt="image">
                </div>
              </div>
              <div class="featured-content featured-content-team">
                <div class="featured-title">
                  <h5><a href="team-details.html">Thomas Charlie</a></h5>
                </div>
                <div class="team-position">CEO At Lab</div>
              </div>
            </div><!-- featured-imagebox-team end-->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox-team -->
            <div class="featured-imagebox featured-imagebox-team">
              <div class="ttm-team-box-view-overlay">
                <div class="featured-iconbox ttm-media-link">
                  <div class="media-block">
                    <a href="team-details.html" class="media-btn"><i class="ti ti-plus"></i></a>
                    <ul class="social-icons list-inline">
                      <li class="social-facebook"><a href="#"><i class="ti ti-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="ti ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="assets/images/team-member/team-img06.jpg" alt="image">
                </div>
              </div>
              <div class="featured-content featured-content-team">
                <div class="featured-title">
                  <h5><a href="team-details.html">Jack Callum</a></h5>
                </div>
                <div class="team-position">CEO At Lab</div>
              </div>
            </div><!-- featured-imagebox-team end-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mt-40 mb_10 res-991-mt-30 text-center">
              <strong>Don’t hesitate, contact us for better help and Dr.Team. <u><a href="#">Explore all Experts.</a></u></strong>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--team-section end-->


    <!--pricing-title-section-->
    <section class="ttm-row pricing-title-section ttm-bgcolor-grey clearfix">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text">
              <div class="title-header">
                <h5>Flexible Plans</h5>
                <h2 class="title">Our Pricing Plans</h2>
              </div>
              <div class="title-desc">We offer term wise service to our clients who collaborate with us for certain practices. Select any of affordable plans below.</div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
      </div>
    </section>
    <!--pricing-title-section end-->


    <!--pricing-plan-section-->
    <section class="ttm-row pricing-plan-section mt_100 res-991-mt-0 clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!--ttm-pricing-plan-->
            <div class="ttm-pricing-plan">
              <div class="ttm-p_table-head">
                <div class="ttm-p_table-title"><h3>Basic</h3></div>
                <div class="ttm-p_table-desc">*Rates are subject to change</div>
              </div>
              <div class="ttm-p_table-body">
                <div class="ttm-p_table-amount">
                  <span class="cur_symbol">$</span>49<span class="pac_frequency">/mo</span>
                </div>
                <ul class="ttm-p_table-features">
                  <li>Free Equipment Use</li>
                  <li>24/7 Support</li>
                  <li>Advanced Options</li>
                  <li>8 GB Storage</li>
                  <li>Unlimited Support</li>
                </ul>
              </div>
              <div class="ttm-p_table-footer">
                <a class="ttm-btn ttm-btn-size-lg ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-skincolor" href="#">Choose Plans</a>
              </div>
            </div><!--ttm-pricing-plan-->
          </div>
          <div class="col-md-4">
            <!--ttm-pricing-plan-->
            <div class="ttm-pricing-plan pricing-recommended-plan">
              <div class="ttm-p_table-head">
                <div class="ttm-p_table-title"><h3>Premium</h3></div>
                <div class="ttm-p_table-desc">*Rates are subject to change</div>
              </div>
              <div class="ttm-p_table-body">
                <div class="ttm-p_table-amount">
                  <span class="cur_symbol">$</span>69<span class="pac_frequency">/mo</span>
                </div>
                <ul class="ttm-p_table-features">
                  <li>Free Equipment Use</li>
                  <li>24/7 Support</li>
                  <li>Advanced Options</li>
                  <li>16 GB Storage</li>
                  <li>Unlimited Support</li>
                </ul>
              </div>
              <div class="ttm-p_table-footer">
                <a class="ttm-btn ttm-btn-size-lg ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="#">Choose Plans</a>
              </div>
            </div><!--ttm-pricing-plan-->
          </div>
          <div class="col-md-4">
            <!--ttm-pricing-plan-->
            <div class="ttm-pricing-plan">
              <div class="ttm-p_table-head">
                <div class="ttm-p_table-title"><h3>Gold</h3></div>
                <div class="ttm-p_table-desc">*Rates are subject to change</div>
              </div>
              <div class="ttm-p_table-body">
                <div class="ttm-p_table-amount">
                  <span class="cur_symbol">$</span>99<span class="pac_frequency">/mo</span>
                </div>
                <ul class="ttm-p_table-features">
                  <li>Free Equipment Use</li>
                  <li>24/7 Support</li>
                  <li>Advanced Options</li>
                  <li>32 GB Storage</li>
                  <li>Unlimited Support</li>
                </ul>
              </div>
              <div class="ttm-p_table-footer">
                <a class="ttm-btn ttm-btn-size-lg ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-skincolor" href="#">Choose Plans</a>
              </div>
            </div><!--ttm-pricing-plan-->
          </div>
        </div>
      </div>
    </section>
    <!-- pricing-plan-section end -->


  </div><!--site-main end-->




  <!--back-to-top start-->
  <a id="totop" href="#top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!--back-to-top end-->

</div><!-- page end -->

</body>
<app-footer></app-footer>
