<body>
<!--page start-->
<div class="page">

  <!-- page-title -->
  <div class="ttm-page-title-row">
    <div class="ttm-page-title-row-inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="page-title-heading">
              <h2 class="title">Secretair Details</h2>
            </div>
            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html">Home</a>
                                </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- page-title end-->


  <!--site-main start-->
  <div class="site-main">


    <section class="ttm-row overview-section clearfix">
      <div class="ttm-team-member-single-content-wrapper ttm-team-member-view-default">
        <div class="container">
          <div class="ttm-team-member-single-content row"*ngFor="let g of listSec">
            <div class="col-lg-5 col-md-5">
              <!-- featured-team-item -->
              <div class="featured-item featured-team-item ttm-item-view-leftimage">
                <div class="featured-thumbnail">
                  <img class="img-fluid" src="http://localhost:3500/getfile/{{g.image}}" alt="image">
                </div>
                <div class="featured-team-data">
                  <h5>Call Us:{{g.phone}} </h5>
                </div>
              </div><!-- featured-team-item end-->
            </div>
            <div class="ttm-team-member-single-content-area col-xs-12 col-sm-12 col-md-7 col-lg-7">
              <div class="ttm-team-member-content shadow-box">

                <div class="ttm-team-member-single-list"  >
                  <h2 class="ttm-team-member-single-title">Personal Information</h2>
                  <div class="ttm-team-details-wrapper">
                    <ul class="ttm-team-details-list mb-20 clearfix">
                      <li>
                        <div class="ttm-team-list-title"><h5>Doctor Name: </h5></div>
                        <div class="ttm-team-list-value"> {{g.nom}} {{g.prenom}}</div>
                      </li>
                      <li>
                        <div class="ttm-team-list-title"><h5>Doctor Email: </h5></div>
                        <div class="ttm-team-list-value">{{g.email}}</div>
                      </li>

                      <li>
                        <div class="ttm-team-list-title"><h5>Doctor Adress: </h5></div>
                        <div class="ttm-team-list-value">{{g.adress}}</div>
                      </li>
                    </ul>
                    <div class="sep_holder_box width-100 mt-20 mb-30">
                      <span class="sep_holder"><span class="sep_line"></span></span>
                    </div>
                    <h2 class="ttm-team-member-single-title">Education & Training</h2>
                    <ul class="ttm-team-details-list clearfix">
                      <li>
                        <div class="ttm-team-list-title"><h5>Medical Education: </h5></div>
                        <div class="ttm-team-list-value">University of Sydney, Australia</div>
                      </li>
                      <li>
                        <div class="ttm-team-list-title"><h5>Residency: </h5></div>
                        <div class="ttm-team-list-value">Stereotactic Radiosurgery, Glioma</div>
                      </li>
                      <!--<li>-->
                      <!--<div class="ttm-team-list-title"><h5>Certifications: </h5></div>-->
                      <!--<div class="ttm-team-list-value">American Board of Neurological Surgery</div>-->
                      <!--</li>-->
                      <!--<li>-->
                      <!--<div class="ttm-team-list-title"><h5>Practice Areas: </h5></div>-->
                      <!--<div class="ttm-team-list-value">Stereovctic Radiosurgery, Glioma</div>-->
                      <!--</li>-->
                    </ul>
                  </div>

                  <!--<div class="ttm-social-links-wrapper">-->
                  <!--<ul class="social-icons">-->
                  <!--<li class="social-facebook">-->
                  <!--<a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                  <!--</li>-->
                  <!--<li class="social-twitter">-->
                  <!--<a class="tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                  <!--<li class="social-gplus">-->
                  <!--<a class="tooltip-top" target="_blank" href="#" data-tooltip="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
                  <!--</ul>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="ttm-row expertise-section ttm-bgcolor-grey bg-img5 ttm-bg ttm-bgimage-yes clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
    </section>




  </div><!--site-main end-->


</div><!-- page end -->
</body>
