

<header id="masthead" class="header ttm-header-style-01">
  <!-- top_bar -->
  <div class="top_bar ttm-bgcolor-skincolor clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 d-flex flex-row align-items-center">
          <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-phone"></i></div>+123 456 7890</div>
          <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div><a href="mailto:yourdomain@gmail.com">yourdomain@gmail.com</a></div>
          <div class="top_bar_contact_item ml-auto"><div class="top_bar_icon"><i class="fa fa-clock-o"></i></div>Working Hours - Mon - Fri: 9:30 - 18:30</div>
          <div class="top_bar_contact_item">
            <div class="top_bar_social">
              <ul class="social-icons">
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Facebook" tabindex="-1"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Twitter" tabindex="-1"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Flickr" tabindex="-1"><i class="fa fa-flickr"></i></a>
                </li>
                <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Linkedin" tabindex="-1"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- top_bar end-->
  <!-- site-header-menu -->
  <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
    <div class="site-header-menu-inner ttm-stickable-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <!--site-navigation -->
            <div class="site-navigation d-flex flex-row">
              <!-- site-branding -->
              <div class="site-branding mr-auto">
                <a class="home-link" href="index.html" title="Labostica" rel="home">
                  <img id="logo-img" class="img-center" src="assets/images/logo-img.png" alt="logo-img">
                </a>
              </div><!-- site-branding end -->
              <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                        <span class="menubar-box">
                                            <span class="menubar-inner"></span>
                                        </span>
              </div>
              <!-- menu -->
              <nav class="main-menu menu-mobile" id="menu">
                <ul class="menu">
                  <li class="mega-menu-item active">
                    <a href="#" class="mega-menu-link">Home</a>
                    <ul class="mega-submenu">
                      <li class="active"><a href="index.html">Sample Homepage 1</a></li>
                      <li><a href="home-2.html">Sample Homepage 2</a></li>
                      <li><a href="home-3.html">Sample Homepage 3</a></li>
                      <li><a href="home-onepage.html">Home Onepage<span>New</span></a></li>
                      <li><a href="home-creative.html">Home Creative<span>New</span></a></li>
                      <li><a href="app-landing.html">App Landing<span>New</span></a></li>
                      <li class="mega-menu-item">
                        <a href="#" class="mega-menu-link">Header Styles</a>
                        <ul class="mega-submenu">
                          <li><a href="index.html">Header Style 01</a></li>
                          <li><a target="_blank" href="header-style-02.html">Header Style 02</a></li>
                          <li><a target="_blank" href="header-style-03.html">Header Style 03</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mega-menu-item megamenu-fw">
                    <a href="#" class="mega-menu-link">Pages</a>
                    <ul class="mega-submenu megamenu-content" role="menu">
                      <li>
                        <div class="row">
                          <div class="col-menu col-md-4">
                            <h6 class="title">Page List 01</h6>
                            <div class="content">
                              <ul class="menu-col">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="about-us-2.html">About Us 2</a></li>
                                <li><a href="services-1.html">Services 1</a></li>
                                <li><a href="services-2.html">Services 2</a></li>
                              </ul>
                            </div>
                          </div><!-- end col-3 -->
                          <div class="col-menu col-md-4">
                            <h6 class="title">Page List 02</h6>
                            <div class="content">
                              <ul class="menu-col">
                                <li><a href="team.html">Team</a></li>
                                <li><a href="team-details.html">Team Details</a></li>
                                <li><a href="contact-us-1.html">Contact Us 1</a></li>
                                <li><a href="contact-us-1.html">Contact Us 2</a></li>
                              </ul>
                            </div>
                          </div><!-- end col-3 -->
                          <div class="col-menu col-md-4">
                            <h6 class="title">Page List 03</h6>
                            <div class="content">
                              <ul class="menu-col">
                                <li><a href="pricing-plan.html">Pricing Plan</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="error.html">Error Page</a></li>
                                <li><a href="element.html">Element</a></li>
                              </ul>
                            </div>
                          </div>
                        </div><!-- end row -->
                      </li>
                    </ul>
                  </li>
                  <li class="mega-menu-item">
                    <a href="#" class="mega-menu-link">Services</a>
                    <ul class="mega-submenu">
                      <li><a href="advanced-robotics.html">Advanced Robotics</a>
                      <li><a href="anatomic-pathology.html">Anatomic Pathology</a></li>
                      <li><a href="chemical-research.html">Chemical Research</a></li>
                      <li><a href="chemistry-hematology.html">Chemistry & Hematology</a></li>
                      <li><a href="environmental-testing.html">Environmental Testing</a></li>
                      <li><a href="lab-test.html">Lab Test Directory</a></li>
                    </ul>
                  </li>
                  <li class="mega-menu-item">
                    <a href="#" class="mega-menu-link">Research</a>
                    <ul class="mega-submenu">
                      <li><a href="research-style-1.html">Research Style 1</a></li>
                      <li><a href="research-style-2.html">Research Style 2</a></li>
                      <li class="mega-menu-item">
                        <a href="#" class="mega-menu-link">Project Single</a>
                        <ul class="mega-submenu">
                          <li><a href="single-style-1.html">Style One</a></li>
                          <li><a href="single-style-2.html">Style Two</a></li>
                          <li><a href="single-style-3.html">Style Three</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mega-menu-item">
                    <a href="#" class="mega-menu-link">Blog</a>
                    <ul class="mega-submenu">
                      <li class=""><a href="blog.html">Blog Classic</a></li>
                      <li class=""><a href="blog-grid.html">Blog Grid</a></li>
                      <li class=""><a href="blog-single.html">Blog Single View</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                <div class="header_btn">
                  <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-icon-btn-left ttm-btn-color-grey" href="#"> <i class="fa fa-calendar"></i>Appointment</a>
                  <div id="appointment">
                    <h3>Keep in touch!</h3>
                    <form class="wrap-form appointment_form clearfix" method="post" action="#">
                      <div class="row">
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                                    <input name="name" type="text" value="" placeholder="Your Name" required="required">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                                    <input name="phone" type="tel" value="" placeholder="Phone Number" required="required">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <input name="email" type="email" value="" placeholder="Email">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group date">
                                                                <span class="text-input">
                                                                    <i class="fa fa-calendar"></i>
                                                                    <input type="text" value="" id="datetimepicker1">
                                                                </span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    <input name="Note" type="text" value="" placeholder="Note">
                                                                </span>
                          </label>
                        </div>
                        <div class="col-md-4">
                          <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" type="submit">Book appointment</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="header_cart">
                  <a href="#" class="button-cart">
                    <div class="cart_icon"><i class="ti ti-shopping-cart"></i></div>
                    <div class="cart_count">10</div>
                  </a>
                </div>
                <div class="header_search">
                  <a href="#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                  <div class="header_search_content">
                    <form id="searchbox" method="get" action="#">
                      <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                      <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- site-navigation end-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- site-header-menu end-->
</header><!--header end-->


<body class="ttm-one-page-site">

<!--page start-->
<div class="page">


  <!-- preloader start -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <!-- preloader end -->

  <div id="ttm-home"></div>

  <!--header start-->
  <header id="masthead" class="header ttm-header-style-05">

    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu">
      <div class="site-header-menu-inner ttm-stickable-header">
        <div class="container">
          <div class="row">
            <div class="col">
              <!--site-navigation -->
              <div id="site-navigation" class="site-navigation d-flex" data-sticky-height="70">
                <!-- site-branding -->
                <div class="site-branding mr-auto">
                  <a class="home-link" href="index.html" title="Labostica" rel="home">
                    <img id="logo-img" class="img-center" src="assets/images/white-logo.png" alt="logo-img">
                  </a>
                </div><!-- site-branding end -->
                <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                        <span class="menubar-box">
                                            <span class="menubar-inner"></span>
                                        </span>
                </div>
                <!-- menu -->
                <nav class="main-menu menu-mobile" id="menu">
                  <ul class="menu">
                    <li><a aria-current="page" href="#ttm-home">Home</a></li>
                    <li><a aria-current="page" href="#about-us">About Us</a></li>
                    <li><a aria-current="page" href="#services">Services</a></li>
                    <li><a aria-current="page" href="#portfolio">Portfolio</a></li>
                    <li><a aria-current="page" href="#review">Review</a></li>
                    <li><a aria-current="page" href="#blog">Blog</a></li>
                  </ul>
                </nav>
                <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                  <div class="header_btn ml-15">
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-icon-btn-left ttm-btn-color-white" href="#"> <i class="fa fa-calendar"></i>Appointment</a>
                    <div id="appointment">
                      <h3>Keep in touch!</h3>
                      <form class="wrap-form appointment_form clearfix" method="post" action="#">
                        <div class="row">
                          <div class="col-md-4">
                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                                    <input name="name" type="text" value="" placeholder="Your Name" required="required">
                                                                </span>
                            </label>
                          </div>
                          <div class="col-md-4">
                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                                    <input name="phone" type="tel" value="" placeholder="Phone Number" required="required">
                                                                </span>
                            </label>
                          </div>
                          <div class="col-md-4">
                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <input name="email" type="email" value="" placeholder="Email">
                                                                </span>
                            </label>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group date">
                                                                <span class="text-input">
                                                                    <i class="fa fa-calendar"></i>
                                                                    <input type="text" value="" id="datetimepicker1">
                                                                </span>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    <input name="Note" type="text" value="" placeholder="Note">
                                                                </span>
                            </label>
                          </div>
                          <div class="col-md-4">
                            <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" type="submit">Book appointment</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="header_search">
                    <a href="#" class="btn-default search_btn border-0"><i class="ti ti-search"></i></a>
                    <div class="header_search_content">
                      <form id="searchbox" method="get" action="#">
                        <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                        <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- site-navigation end-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- site-header-menu end-->
  </header><!--header end-->





  <!--site-main start-->
  <div class="site-main">


    <!--introduction-section-->
    <section id="about-us" class="ttm-row introduction-section clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-5 col-xs-12">
            <!-- ttm_single_image-wrapper -->
            <div class="ttm_single_image-wrapper">
              <img class="img-fluid w-auto" src="assets/images/single-img-01.png" alt="single_01">
            </div>
          </div>
          <div class="col-xl-6 col-lg-7 col-xs-12">
            <div class="pt-30 res-991-pt-30 pl-15 res-991-pl-0">
              <!-- section title -->
              <div class="section-title">
                <div class="title-header">
                  <h5>About Us</h5>
                  <h2 class="title">We Employ The Latest Research Technology & Company</h2>
                </div>
                <div class="title-desc">Lorem xt ever since the 1500s, wheg essIpsum is simply dummy text of the printing and typesetting industry. Lorem Ipsus been the industry’s standard dummy ver has been the industry’s standard dummy text ever since the 1500s, wheg essentially Unchanged  page editors  contary.</div>
              </div><!-- section title end -->
              <div class="d-inline">
                <div class="d-inline-block pr-30">
                  <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                    <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content font-weight-normal">Engage - marketing automation</div></li>
                    <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content font-weight-normal">Learn from customer feedback</div></li>
                  </ul>
                </div>
                <div class="d-inline-block">
                  <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor res-575-mt-10">
                    <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content font-weight-normal">Acquire live chat enables sales </div></li>
                    <li><i class="fa fa-arrow-circle-right"></i><div class="ttm-list-li-content font-weight-normal">customer support</div></li>
                  </ul>
                </div>
              </div>
              <div class="d-sm-flex align-items-center pt-40">
                <h6 class="mr-2" style="color: inherit; font-weight: normal;">Call to ask <u>any question.</u></h6>
                <div class="d-sm-flex"><h5 style="font-size: 18px;">123-456-7890</h5><p class="ml-2 mr-2">or</p><h5 style="font-size: 18px;">456-789-4565</h5></div>
              </div>
              <div class="sep_holder_box width-100 mt-20 mb-30">
                <span class="sep_holder"><span class="sep_line"></span></span>
              </div>
              <div class="mt-20">
                <!-- featured-icon-box -->
                <div class="featured-icon-box icon-align-before-content">
                  <div class="featured-icon">
                    <div class="img-content">
                      <img class="img-fluid" src="assets/images/author-sign-2.png" alt="ttm_single_image-wrapper">
                    </div>
                  </div>
                  <div class="featured-content pl-30">
                    <div class="featured-title">
                      <h5 class="font-weight-bold">Alex Phillips,</h5>
                    </div>
                    <div class="featured-desc">
                      <p>Founder, non tincidunt erat justo</p>
                    </div>
                  </div>
                </div>
                <!-- featured-icon-box end -->
              </div>
            </div>
          </div>
        </div><!-- row end -->
      </div>
    </section>
    <!--introduction-section end-->


    <!--services-section-->
    <section id="services" class="ttm-row services-section ttm-bgcolor-grey bg-img5 ttm-bg ttm-bgimage-yes clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text mb-30">
              <div class="title-header">
                <h5>OUR SPECIALTIES</h5>
                <h2 class="title">Explore Our Main Services</h2>
              </div>
              <div class="title-desc">Our collaboration projects between the public sector, industry and academia bring a real impact for the our health and lab firms.</div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
      </div>
    </section>
    <!--services-section-->


    <section class="ttm-row pt-0 mt_80 clearfix">
      <div class="container">
        <!-- row -->
        <div class="row slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":891,"settings":{"slidesToShow": 2}}, {"breakpoint":640,"settings":{"slidesToShow": 1}}]}'>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox -->
            <div class="featured-imagebox featured-imagebox-services style2">
              <!-- featured-thumbnail -->
              <div class="featured-thumbnail">
                <a href="#"> <img class="img-fluid" src="assets/images/services/services-01.jpg" alt="image"></a>
              </div><!-- featured-thumbnail end-->
              <div class="featured-content">
                <div class="ser_category">Medicine</div>
                <div class="featured-title">
                  <h5><a href="anatomic-pathology.html">Pathologycam Testing</a></h5>
                </div>
                <div class="ttm-di_links">
                  <a href="#" class="di_link">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div><!-- featured-imagebox -->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox -->
            <div class="featured-imagebox featured-imagebox-services style2">
              <!-- featured-thumbnail -->
              <div class="featured-thumbnail">
                <a href="#"> <img class="img-fluid" src="assets/images/services/services-02.jpg" alt="image"></a>
              </div><!-- featured-thumbnail end-->
              <div class="featured-content">
                <div class="ser_category">Pathology</div>
                <div class="featured-title">
                  <h5><a href="lab-test.html">Mineral Assay and Testing</a></h5>
                </div>
                <div class="ttm-di_links">
                  <a href="#" class="di_link">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div><!-- featured-imagebox -->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox -->
            <div class="featured-imagebox featured-imagebox-services style2">
              <!-- featured-thumbnail -->
              <div class="featured-thumbnail">
                <a href="#"> <img class="img-fluid" src="assets/images/services/services-03.jpg" alt="image"></a>
              </div><!-- featured-thumbnail end-->
              <div class="featured-content">
                <div class="ser_category">Medicine</div>
                <div class="featured-title">
                  <h5><a href="chemistry-hematology.html">Pharmaceutical Research</a></h5>
                </div>
                <div class="ttm-di_links">
                  <a href="#" class="di_link">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div><!-- featured-imagebox -->
          </div>
          <div class="ttm-box-col-wrapper col-lg-4">
            <!-- featured-imagebox -->
            <div class="featured-imagebox featured-imagebox-services style2">
              <!-- featured-thumbnail -->
              <div class="featured-thumbnail">
                <a href="#"> <img class="img-fluid" src="assets/images/services/services-04.jpg" alt="image"></a>
              </div><!-- featured-thumbnail end-->
              <div class="featured-content">
                <div class="ser_category">Chemical</div>
                <div class="featured-title">
                  <h5><a href="chemical-research.html">Chemical Research</a></h5>
                </div>
                <div class="ttm-di_links">
                  <a href="#" class="di_link">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div><!-- featured-imagebox -->
          </div>
        </div><!-- row end -->
      </div>
    </section>


    <section class="ttm-row p-0 res-991-pb-0 ttm-bgcolor-skincolor bg-img12 clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-12 col-xs-12">
            <div class="pt-100 pr-80 res-991-pt-0 res-991-pr-0">
              <!-- section title -->
              <div class="section-title">
                <div class="title-header">
                  <h5>About Us</h5>
                  <h2 class="title">We Employ The Latest Research Technology &amp; Company</h2>
                </div>
                <div class="title-desc">Lorem xt ever since the 1500s, wheg essIpsum is simply dummy text of the printing and typesetting industry. Lorem Ipsus been the industry’s standard dummy ver has been the industry’s standard dummy text ever since the 1500s, wheg essentially when essentially page editors  contary.</div>
              </div><!-- section title end -->
              <div class="sep_holder_box width-100 mt-35 mb-35">
                <span class="sep_holder"><span class="sep_line"></span></span>
              </div>
              <div class="d-inline">
                <div class="d-inline-block mr-30">
                  <!-- ttm-fid -->
                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                    <div class="ttm-fid-icon-wrapper ttm-textcolor-white">
                      <i class="text-white flaticon-scientist"></i>
                    </div>
                    <div class="ttm-fid-contents">
                      <h4 class="ttm-fid-inner">
                        <span data-appear-animation="animateDigits" data-from="0" data-to="25" data-interval="15" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">25</span>
                        <sub>+</sub>
                      </h4>
                      <h3 class="ttm-fid-title">Complete Cases</h3>
                    </div>
                  </div><!-- ttm-fid end -->
                </div>
                <div class="d-inline-block">
                  <!-- ttm-fid -->
                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon res-575-mt-30">
                    <div class="ttm-fid-icon-wrapper ttm-textcolor-white">
                      <i class="text-white flaticon-laboratory"></i>
                    </div>
                    <div class="ttm-fid-contents">
                      <h4 class="ttm-fid-inner">
                        <span data-appear-animation="animateDigits" data-from="0" data-to="800" data-interval="15" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">800</span>
                        <sub>+</sub>
                      </h4>
                      <h3 class="ttm-fid-title">Our Equipments</h3>
                    </div>
                  </div><!-- ttm-fid end -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-12">
            <div class="ttm-bg col-bg-img-eleven ttm-col-bgimage-yes ttm-right-span mt-60">
              <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
              <div class="layer-content">
                <!-- ttm_single_image-wrapper -->
                <div class="ttm_single_image-wrapper mb_40 ml_90 pt-40 res-1199-ml-0">
                  <img class="img-fluid w-auto" src="assets/images/device-image.png" alt="device-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="ttm-row procedure-section-2 ttm-bgcolor-grey bg-img9 ttm-bg ttm-bgimage-yes z-index_1 mt_50 res-991-mt-0 clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text res-991-pt-30">
              <div class="title-header">
                <h5>OUR SERVICES</h5>
                <h2 class="title">Our Working Process</h2>
              </div>
              <div class="title-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ev</div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
        <div class="row"><!-- row -->
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-top-content text-center style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                  <i class="flaticon-lab-2"></i>
                  <span class="fea-number">01</span>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Data Collection</h5>
                </div>
                <div class="featured-desc">
                  <p>For the accurate diagnoses, perfect information is must require</p>
                </div>
              </div>
              <div class="arrow">
                <img src="assets/images/arrow-1.png" alt="">
              </div>
            </div><!-- featured-imagebox end-->
          </div>
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-top-content text-center style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                  <i class="flaticon-healthcare-and-medical-1"></i>
                  <span class="fea-number">02</span>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Diagnose Process</h5>
                </div>
                <div class="featured-desc">
                  <p>The collection goes to the particular department for the tests</p>
                </div>
              </div>
              <div class="arrow flip-arrow">
                <img src="assets/images/arrow-2.png" alt="">
              </div>
            </div><!-- featured-imagebox end-->
          </div>
          <div class="col-md-4">
            <!-- featured-imagebox -->
            <div class="featured-icon-box icon-align-top-content text-center style4">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                  <i class="flaticon-laboratory-3"></i>
                  <span class="fea-number">03</span>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Access To Reports</h5>
                </div>
                <div class="featured-desc">
                  <p>As a result, that arrive one can access their report online or direct  </p>
                </div>
              </div>
            </div><!-- featured-imagebox end-->
          </div>
        </div>
      </div>
    </section>


    <!--portfolio-section-->
    <section id="portfolio" class="ttm-row portfolio-section pb-0 clearfix">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text">
              <div class="title-header">
                <h5>WHAT WE DO</h5>
                <h2 class="title">Our Latest Case Studies</h2>
              </div>
              <div class="title-desc">Our collaboration projects between the public sector, industry and academia bring a real impact for the our health and lab firms.</div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
        <div class="row">
          <div class="col-lg-12">
            <div class="ttm-tabs tabs-style-01 mb_90">
              <ul class="tabs d-md-flex portfolio-filter">
                <li class="tab active"><a href="#" data-filter="*">All</a></li>
                <li class="tab"><a href="#" data-filter=".cardiology">Cardiology</a></li>
                <li class="tab"><a href="#" data-filter=".orthopedics">Orthopedics</a></li>
                <li class="tab"><a href="#" data-filter=".pharmacy">Pharmacy</a></li>
                <li class="tab"><a href="#" data-filter=".anestheslology">Anestheslology</a></li>
                <li class="tab"><a href="#" data-filter=".pediatric">Pediatric</a></li>
              </ul>
              <div class="content-tab ttm-bgcolor-white z-index-2 position-relative pl-30 pr-30">
                <!-- content-inner -->
                <div class="row multi-columns-row ttm-boxes-spacing-15px isotope-project">
                  <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 cardiology anestheslology">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view1">
                      <!-- ttm-box-view-overlay -->
                      <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                          <a href="#"> <img class="img-fluid" src="assets/images/portfolio/01.jpg" alt="image"></a>
                        </div><!-- featured-thumbnail end-->
                        <div class="featured-iconbox ttm-media-link">
                          <a class="ttm_prettyphoto ttm_image" title="Rehabilitation Center" data-rel="prettyPhoto" href="assets/images/portfolio/04.jpg">
                            <i class="fa fa-expand"></i>
                          </a>
                          <a href="single-style-1.html" class="ttm_link"><i class="ti ti-link"></i></a>
                        </div>
                        <div class="ttm-box-view-content-inner">
                          <div class="featured-content featured-content-portfolio">
                            <div class="featured-title">
                              <h5><a href="single-style-1.html">Rehabilitation Center</a></h5>
                            </div>
                            <span class="category">Cardiology, Anestheslology</span>
                          </div>
                        </div>
                      </div><!-- ttm-box-view-overlay end-->
                    </div><!-- featured-imagebox -->
                  </div>
                  <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 pediatric orthopedics">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view1">
                      <!-- ttm-box-view-overlay -->
                      <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                          <a href="#"> <img class="img-fluid" src="assets/images/portfolio/02.jpg" alt="image"></a>
                        </div><!-- featured-thumbnail end-->
                        <div class="featured-iconbox ttm-media-link">
                          <a class="ttm_prettyphoto ttm_image" title="Diagnostic Imagine" data-rel="prettyPhoto" href="assets/images/portfolio/02.jpg">
                            <i class="fa fa-expand"></i>
                          </a>
                          <a href="single-style-2.html" class="ttm_link"><i class="ti ti-link"></i></a>
                        </div>
                        <div class="ttm-box-view-content-inner">
                          <div class="featured-content featured-content-portfolio">
                            <div class="featured-title">
                              <h5><a href="single-style-2.html">Diagnostic Imagine</a></h5>
                            </div>
                            <span class="category">Orthopedics, Pediatric</span>
                          </div>
                        </div>
                      </div><!-- ttm-box-view-overlay end-->
                    </div><!-- featured-imagebox -->
                  </div>
                  <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 pharmacy pediatric orthopedics">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view1">
                      <!-- ttm-box-view-overlay -->
                      <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                          <a href="#"> <img class="img-fluid" src="assets/images/portfolio/03.jpg" alt="image"></a>
                        </div><!-- featured-thumbnail end-->
                        <div class="featured-iconbox ttm-media-link">
                          <a class="ttm_prettyphoto ttm_image" title="Orthodontics Surgery" data-rel="prettyPhoto" href="assets/images/portfolio/03.jpg">
                            <i class="fa fa-expand"></i>
                          </a>
                          <a href="single-style-3.html" class="ttm_link"><i class="ti ti-link"></i></a>
                        </div>
                        <div class="ttm-box-view-content-inner">
                          <div class="featured-content featured-content-portfolio">
                            <div class="featured-title">
                              <h5><a href="single-style-3.html">Orthodontics Surgery</a></h5>
                            </div>
                            <span class="category">Orthopedics, Pediatric</span>
                          </div>
                        </div>
                      </div><!-- ttm-box-view-overlay end-->
                    </div><!-- featured-imagebox -->
                  </div>
                  <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 cardiology anestheslology">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view1">
                      <!-- ttm-box-view-overlay -->
                      <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                          <a href="#"> <img class="img-fluid" src="assets/images/portfolio/04.jpg" alt="image"></a>
                        </div><!-- featured-thumbnail end-->
                        <div class="featured-iconbox ttm-media-link">
                          <a class="ttm_prettyphoto ttm_image" title="Rehabilitation Center" data-rel="prettyPhoto" href="assets/images/portfolio/04.jpg">
                            <i class="fa fa-expand"></i>
                          </a>
                          <a href="single-style-1.html" class="ttm_link"><i class="ti ti-link"></i></a>
                        </div>
                        <div class="ttm-box-view-content-inner">
                          <div class="featured-content featured-content-portfolio">
                            <div class="featured-title">
                              <h5><a href="single-style-1.html">Rehabilitation Center</a></h5>
                            </div>
                            <span class="category">Cardiology, Anestheslology</span>
                          </div>
                        </div>
                      </div><!-- ttm-box-view-overlay end-->
                    </div><!-- featured-imagebox -->
                  </div>
                  <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 pharmacy pediatric orthopedics">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view1">
                      <!-- ttm-box-view-overlay -->
                      <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                          <a href="#"> <img class="img-fluid" src="assets/images/portfolio/05.jpg" alt="image"></a>
                        </div><!-- featured-thumbnail end-->
                        <div class="featured-iconbox ttm-media-link">
                          <a class="ttm_prettyphoto ttm_image" title="Blood Pressure Checkup" data-rel="prettyPhoto" href="assets/images/portfolio/05.jpg">
                            <i class="fa fa-expand"></i>
                          </a>
                          <a href="single-style-2.html" class="ttm_link"><i class="ti ti-link"></i></a>
                        </div>
                        <div class="ttm-box-view-content-inner">
                          <div class="featured-content featured-content-portfolio">
                            <div class="featured-title">
                              <h5><a href="single-style-2.html">Blood Pressure Checkup</a></h5>
                            </div>
                            <span class="category">Pediatric, Orthopedics</span>
                          </div>
                        </div>
                      </div><!-- ttm-box-view-overlay end-->
                    </div><!-- featured-imagebox -->
                  </div>
                  <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 cardiology anestheslology">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view1">
                      <!-- ttm-box-view-overlay -->
                      <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay"><!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                          <a href="#"> <img class="img-fluid" src="assets/images/portfolio/06.jpg" alt="image"></a>
                        </div><!-- featured-thumbnail end -->
                        <div class="featured-iconbox ttm-media-link">
                          <a class="ttm_prettyphoto ttm_image" title="Dentures / Partial Dentures" data-rel="prettyPhoto" href="assets/images/portfolio/06.jpg">
                            <i class="fa fa-expand"></i>
                          </a>
                          <a href="single-style-3.html" class="ttm_link"><i class="ti ti-link"></i></a>
                        </div>
                        <div class="ttm-box-view-content-inner">
                          <div class="featured-content featured-content-portfolio">
                            <div class="featured-title">
                              <h5><a href="single-style-3.html">Dentures / Partial Dentures</a></h5>
                            </div>
                            <span class="category">Cardiology, Anestheslology</span>
                          </div>
                        </div>
                      </div><!-- ttm-box-view-overlay end-->
                    </div><!-- featured-imagebox -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--portfolio-section-->


    <!--testimonial-section-->
    <section id="review" class="ttm-row testimonial-section ttm-bgcolor-skincolor bg-img6 ttm-bg ttm-bgimage-yes clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text pt-90 res-991-pt-60">
              <div class="title-header">
                <h5>TESTIMONALS</h5>
                <h2 class="title">“Best Clinic Services Provide”</h2>
              </div>
            </div><!-- section-title end -->
          </div>
        </div><!-- row end -->
        <div class="row slick_slider slick-arrows-style1" data-slick='{"slidesToShow": 1, "slidesToScroll": 1 , "dots":false, "arrows":true, "autoplay":true, "infinite":true, "centerMode":false, "responsive": [{"breakpoint":500,"settings":{"slidesToShow": 1}}]}' >

          <div class="col-lg-7">
            <!-- testimonials -->
            <div class="testimonials style2">
              <div class="testimonial-content">
                <div class="testimonial-avatar">
                  <div class="testimonial-img">
                    <img class="img-fluid" src="assets/images/testimonial/01.jpg" alt="testimonial-img">
                  </div>
                </div>
                <div class="star-ratings">
                  <ul class="rating">
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
                <blockquote class="testimonial-text"><h5>“Best Clinic Services Provide”</h5> A great place to work because of the opportunities for moving between centres and trying something new within your area of expertise. The laboratory is also an open and flexible workplace & great place to work with.</blockquote>
                <div class="testimonial-caption">
                  <h5>ALexanra May Cruz</h5>
                  <label>CEO At Laboratory</label>
                </div>
              </div>
            </div><!-- testimonials end -->
          </div>
          <div class="col-lg-7">
            <!-- testimonials -->
            <div class="testimonials style2">
              <div class="testimonial-content">
                <div class="testimonial-avatar">
                  <div class="testimonial-img">
                    <img class="img-fluid" src="assets/images/testimonial/02.jpg" alt="testimonial-img">
                  </div>
                </div>
                <div class="star-ratings">
                  <ul class="rating">
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
                <blockquote class="testimonial-text"><h5>“Best Clinic Services Provide”</h5> The laboratory is also an open and flexible workplace & great place to work with. The detail is also important, I like to ensure that I always pay attention to detail on anything that I work on. </blockquote>
                <div class="testimonial-caption">
                  <h5>ALexanra May Cruz</h5>
                  <label>CEO At Laboratory</label>
                </div>
              </div>
            </div><!-- testimonials end -->
          </div>
          <div class="col-lg-7">
            <!-- testimonials -->
            <div class="testimonials style2">
              <div class="testimonial-content">
                <div class="testimonial-avatar">
                  <div class="testimonial-img">
                    <img class="img-fluid" src="assets/images/testimonial/02.jpg" alt="testimonial-img">
                  </div>
                </div>
                <div class="star-ratings">
                  <ul class="rating">
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                    <li class="active"><i class="fa fa-star"></i></li>
                  </ul>
                </div>
                <blockquote class="testimonial-text"><h5>“Best Clinic Services Provide”</h5> I always pay attention to detail on anything that I work on to make sure, complete the task successfully.With my skill set, knowledge & work ethics I could be a great addition to the team to deliver the best result.</blockquote>
                <div class="testimonial-caption">
                  <h5>ALexanra May Cruz</h5>
                  <label>CEO At Laboratory</label>
                </div>
              </div>
            </div><!-- testimonials end -->
          </div>
        </div>
      </div>
    </section>
    <!--testimonial-section-->


    <!--blog-section-->
    <section id="blog" class="ttm-row blog-section clearfix">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 m-auto">
            <!-- section-title -->
            <div class="section-title with-sep title-style-center_text">
              <div class="title-header">
                <h5>OUR NEWS & BLOG</h5>
                <h2 class="title">Publish What You Think</h2>
              </div>
              <div class="title-desc">Read & get educated & knowledge over versatile laboratory technology.We how else you can help patients without being a doctor.</div>
            </div><!-- section-title end -->
          </div>
          <div class="col-lg-12">
            <!-- slick_slider -->
            <div class="row slick_slider ttm-boxes-spacing-0px pt-10 pb-10 pl-10 pr-10 box-shadow" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":992,"settings":{"slidesToShow": 2}}, {"breakpoint":600,"settings":{"slidesToShow": 1}}]}'>
              <div class="ttm-box-col-wrapper col-lg-4">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                  <div class="ttm-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="assets/images/blog/blog-one-740x504.jpg" alt="image">
                  </div>
                  <div class="featured-content featured-content-post">
                    <div class="post-meta">
                      <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                      <span class="ttm-meta-line"><i class="fa fa-calendar"></i>July 24 2109</span>
                    </div>
                    <div class="post-title featured-title">
                      <h5><a href="blog-single.html">Equipping Researchers Lab in the Developing.</a></h5>
                    </div>
                    <div class="post-desc featured-desc">
                      <p>Clinical laboratory tests are taken up for the branch of healthcare deals.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between ttm-post-link">
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read more!</a>
                      <div class="post-meta">
                        <span class="ttm-meta-line tags-links"><i class="fa fa-comment"></i>45 Comments</span>
                      </div>
                    </div>
                  </div>
                </div><!-- featured-imagebox-post end-->
              </div>
              <div class="ttm-box-col-wrapper col-lg-4">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                  <div class="featured-content featured-content-post">
                    <div class="post-meta">
                      <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                      <span class="ttm-meta-line"><i class="fa fa-calendar"></i>June 28 2019</span>
                    </div>
                    <div class="post-title featured-title">
                      <h5><a href="blog-single.html">Do You Want To Fast Track your Lab Operations</a></h5>
                    </div>
                    <div class="post-desc featured-desc">
                      <p>Given the extremely competitive environment; So, fast track your operation.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between ttm-post-link">
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read more!</a>
                      <div class="post-meta">
                        <span class="ttm-meta-line tags-links"><i class="fa fa-comment"></i>45 Comments</span>
                      </div>
                    </div>
                  </div>
                  <div class="ttm-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="images/blog/blog-two-740x504.jpg" alt="image">
                  </div>
                </div><!-- featured-imagebox-post end-->
              </div>
              <div class="ttm-box-col-wrapper col-lg-4">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                  <div class="ttm-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="images/blog/blog-three-740x504.jpg" alt="image">
                  </div>
                  <div class="featured-content featured-content-post">
                    <div class="post-meta">
                      <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                      <span class="ttm-meta-line"><i class="fa fa-calendar"></i>June 12 2019</span>
                    </div>
                    <div class="post-title featured-title">
                      <h5><a href="blog-single.html">Learn: Blood bank operations and management</a></h5>
                    </div>
                    <div class="post-desc featured-desc">
                      <p>Blood bank inventory management identify challenges that are peculiar to banks.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between ttm-post-link">
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read more!</a>
                      <div class="post-meta">
                        <span class="ttm-meta-line tags-links"><i class="fa fa-comment"></i>45 Comments</span>
                      </div>
                    </div>
                  </div>
                </div><!-- featured-imagebox-post end-->
              </div>
              <div class="ttm-box-col-wrapper col-lg-4">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                  <div class="featured-content featured-content-post">
                    <div class="post-meta">
                      <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                      <span class="ttm-meta-line"><i class="fa fa-calendar"></i>May 30 2019</span>
                    </div>
                    <div class="post-title featured-title">
                      <h5><a href="blog-single.html">Equipping Researchers Lab in the Developing.</a></h5>
                    </div>
                    <div class="post-desc featured-desc">
                      <p>Clinical laboratory tests are taken up for the branch of healthcare deals.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between ttm-post-link">
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read more!</a>
                      <div class="post-meta">
                        <span class="ttm-meta-line tags-links"><i class="fa fa-comment"></i>45 Comments</span>
                      </div>
                    </div>
                  </div>
                  <div class="ttm-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="assets/images/blog/blog-four-740x504.jpg" alt="image">
                  </div>
                </div><!-- featured-imagebox-post end-->
              </div>
              <div class="ttm-box-col-wrapper col-lg-4">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                  <div class="ttm-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="assets/images/blog/blog-five-740x504.jpg" alt="image">
                  </div>
                  <div class="featured-content featured-content-post">
                    <div class="post-meta">
                      <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                      <span class="ttm-meta-line"><i class="fa fa-calendar"></i>April 16 2019</span>
                    </div>
                    <div class="post-title featured-title">
                      <h5><a href="blog-single.html">Do You Want To Fast Track your Lab Operations</a></h5>
                    </div>
                    <div class="post-desc featured-desc">
                      <p>Given the extremely competitive environment; So, fast track your operation.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between ttm-post-link">
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read more!</a>
                      <div class="post-meta">
                        <span class="ttm-meta-line tags-links"><i class="fa fa-comment"></i>45 Comments</span>
                      </div>
                    </div>
                  </div>
                </div><!-- featured-imagebox-post end-->
              </div>
              <div class="ttm-box-col-wrapper col-lg-4">
                <!-- featured-imagebox-post -->
                <div class="featured-imagebox featured-imagebox-post style2">
                  <div class="featured-content featured-content-post">
                    <div class="post-meta">
                      <span class="ttm-meta-line"><i class="fa fa-user"></i>Admin</span>
                      <span class="ttm-meta-line"><i class="fa fa-calendar"></i>April 20 2019</span>
                    </div>
                    <div class="post-title featured-title">
                      <h5><a href="blog-single.html">Learn: Blood bank operations and management</a></h5>
                    </div>
                    <div class="post-desc featured-desc">
                      <p>Blood bank inventory management identify challenges that are peculiar to banks.</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between ttm-post-link">
                      <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline" href="blog-single.html">Read more!</a>
                      <div class="post-meta">
                        <span class="ttm-meta-line tags-links"><i class="fa fa-comment"></i>45 Comments</span>
                      </div>
                    </div>
                  </div>
                  <div class="ttm-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="assets/images/blog/blog-six-740x504.jpg" alt="image">
                  </div>
                </div><!-- featured-imagebox-post end-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="mt-40 res-991-mt-30 text-center">
              <strong>Don’t hesitate, contact us for better help and blog. <u><a href="#">Explore all latest News.</a></u></strong>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--blog-section end-->


  </div><!--site-main end-->


  <!--footer start-->
  <footer class="footer widget-footer clearfix">
    <div class="first-footer ttm-bgcolor-skincolor">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
            <div class="featured-icon-box icon-align-before-content style1">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                  <i class="flaticon-mail"></i>
                </div>
              </div>

              <div class="featured-content">
                <div class="featured-title">
                  <h5>Subscribe To Our Newsletter</h5>
                </div>
                <div class="featured-desc">
                  <p>Stay in touch with us to get latest news and discount coupons</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
            <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
              <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                <p><input type="email" name="email" placeholder="Enter Your Email Address..." required=""></p>
                <p><button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-grey" type="submit">Subscribe Now!</button></p>
              </div>
              <div id="subscribe-msg"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="second-footer">
      <div class="container">
        <div class="row">
          <div class="widget-area col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <aside class="widget widget-text">
              <!--featured-icon-box-->
              <div class="featured-icon-box icon-align-before-content">
                <div class="featured-icon">
                  <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-sm">
                    <i class="flaticon-placeholder"></i>
                  </div>
                </div>
                <div class="featured-content">
                  <div class="featured-title">
                    <h5>Address</h5>
                  </div>
                  <div class="featured-desc">
                    <p>457,Gourandai Los Angeles, USA</p>
                  </div>
                </div>
              </div><!-- featured-icon-box end-->
            </aside>
          </div>
          <div class="widget-area col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <aside class="widget widget-text">
              <!--featured-icon-box-->
              <div class="featured-icon-box icon-align-before-content">
                <div class="featured-icon">
                  <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-sm">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
                <div class="featured-content">
                  <div class="featured-title">
                    <h5>Call Us On</h5>
                  </div>
                  <div class="featured-desc">
                    <p>Front Desk: +123-456-7890 & 78</p>
                  </div>
                </div>
              </div><!-- featured-icon-box end-->
            </aside>
          </div>
          <div class="widget-area col-xs-12 col-sm-12 col-md-3 col-lg-4">
            <aside class="widget widget-text">
              <!--featured-icon-box-->
              <div class="featured-icon-box icon-align-before-content">
                <div class="featured-icon">
                  <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-sm">
                    <i class="flaticon-email"></i>
                  </div>
                </div>
                <div class="featured-content">
                  <div class="featured-title">
                    <h5>Email Us</h5>
                  </div>
                  <div class="featured-desc">
                    <p><a href="mailto:Supportteam@example.com">Supportteam@example.com</a></p>
                  </div>
                </div>
              </div><!-- featured-icon-box end-->
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="third-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 widget-area">
            <div class="widget widget_text clearfix">
              <div class="footer-logo">
                <img id="footer-logo-img" class="img-center" src="assets/images/footer-logo.png" alt="">
              </div>
              <div class="textwidget widget-text">
                <p class="pb-10 pr-30">A Blue Bowl, premium html5 template is the perfect solution for all kind of laboratories & laboratory based management websites. A complete package for the best online lab services.</p>
                <a class="ttm-btn ttm-btn-size-sm ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-skincolor" href="#" title="">Read More!</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
            <div class="widget widget_nav_menu clearfix">
              <h3 class="widget-title">Usefull Links</h3>
              <ul id="menu-footer-quick-links">
                <li><a href="#">About Company</a></li>
                <li><a href="#">Scientific</a></li>
                <li><a href="#">Customer Insights</a></li>
                <li><a href="#">Chemistry</a></li>
                <li><a href="#">Free Consultation</a></li>
                <li><a href="#">Gemological</a></li>
                <li><a href="#">Meet Our Team</a></li>
                <li><a href="#">Forensic science</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
            <div class="widget style2 widget-out-link clearfix">
              <h3 class="widget-title">Recent Posts</h3>
              <ul class="widget-post ttm-recent-post-list pr-5">
                <li>
                  <a href="blog-single.html"><img src="assets/images/blog/blog-one-100x95.jpg" alt="post-img"></a>
                  <span class="post-date"><i class="fa fa-calendar"></i>Oct 06, 2019</span>
                  <a href="blog-single.html">Tests with Nursing Implicat Laboratory Technician</a>
                </li>
                <li>
                  <a href="blog-single.html"><img src="assets/images/blog/blog-two-100x95.jpg" alt="post-img"></a>
                  <span class="post-date"><i class="fa fa-calendar"></i>Oct 24, 2019</span>
                  <a href="blog-single.html">Tests with Nursing Implicat Laboratory Technician</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer-text">
      <div class="container">
        <div class="row copyright">
          <div class="col-sm-9">
            <span>Copyright © 2019 Labostica Theme by <a href="https://themetechmount.com/">ThemetechMount</a></span>
          </div>
          <div class="col-sm-3">
            <div class="d-flex flex-row align-items-center justify-content-end social-icons">
              <ul class="social-icons list-inline">
                <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="ti ti-facebook"></i></a></li>
                <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Linkedin"><i class="ti ti-linkedin"></i></a></li>
                <li class="social-instagram"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Google"><i class="ti ti-google"></i></a></li>
                <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="twitter"><i class="ti ti-twitter-alt"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--footer end-->

  <!--back-to-top start-->
  <a id="totop" href="#top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!--back-to-top end-->

</div><!-- page end -->



<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

<!-- Javascript end-->

</body>

